
<div class="max-w-[1164px] h-[calc(100vh-100px)] pt-[20px] mx-auto px-7 lg:px-14 content">
    <delete_category_modal :category_id="this.selectCategory" cv-if="this.dialogDeleteCategory" 
    @close="this.dialogDeleteCategory = false" @delete-category="refresh"
    />
    <edit_category_modal :category_id="this.selectCategory" 
    cv-if="this.dialogEditCategory" @close="this.dialogEditCategory = false"
    :currentName="this.nameSelectedCategory" @edit-category="refresh"
    />

    <div class="table w-full">
        <div class="table-header w-full flex flex-col justify-between items-start mb-[10px]">
            <cv-form @submit="addCategory" class="flex align-center gap-[10px]">
                <div class="border rounded-[8px] px-[20px] py-[10px] flex items-center">
                    <input type="text" cv-model="addedCategory" class="focus:outline-none" placeholder="Nouvelle catégorie">
                    
                    <button cv-class="{ 'cursor-not-allowed text-grey': !this.addedCategory }" :disabled="!this.addedCategory">Ajouter</button>
                </div>
            </cv-form>

            <p class="mt-[10px] px-[20px] py-[10px]">{{ this.info }}</p>
        </div>

         <table class="table-content w-full text-left border-2 rounded-t-[8px]">
            <thead class="bg-whitesmoke">
                <tr>
                    <th class="p-[22px] cursor-pointer" @click="this.sortById()">
                        ID <span class="mdi mdi-arrow-down-thick ml-[8px]"></span>
                    </th>

                    <th class="p-[22px] cursor-pointer" @click="this.sortByName()">
                        Nom <span class="mdi mdi-arrow-down-thick ml-[8px]"></span>
                    </th>

                    <th class="p-[22px]">Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr class="border-2" cv-for="category of this.displayedCategories">
                    <td class="p-[22px]">{{ this.category.id }}</td>

                    <td class="p-[22px]">{{ this.category.title }}</td>

                    <td class="p-[22px]">
                        <span class="mdi mdi-trash-can-outline text-2xl text-pinkred cursor-pointer"
                        @click="this.deleteCategory(this.category.id);">
                        </span>

                        <span
                        class="mdi mdi-square-edit-outline text-2xl ml-[14px] text-darkgrey cursor-pointer"
                        @click="this.editCategory(this.category.id, this.category.title)">
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="table-footer w-full flex items-center justify-between px-[25px] border-x-[2px] border-b-[2px] p-[12px] rounded-b-[8px]">
            <button @click="this.previousPage()" class="px-[20px] py-[10px] border rounded-[8px]">Précédant</button>

            <span>Page {{ this.currentPageNumber }} sur {{ this.maxPage }}</span>

            <button @click="this.nextPage()" class="px-[20px] py-[10px] border rounded-[8px]">Suivant</button>
        </div>
    </div>
</div>

<script>
    const [impLoader, impTaob, delete_category_modal, edit_category_modal] = await Promise.all([
        import("/public/cuteVue/loader.js"),
        import("/public/cuteVue/taob.js"),
        importer("/public/cuteVue/components/modals/delete_category_modal.html"),
        importer("/public/cuteVue/components/modals/edit_category_modal.html"),
    ]);

    const loaderStore = impLoader.loaderStore;
    const taob = impTaob.default;

    export default {
        components: {
            delete_category_modal,
            edit_category_modal
        },
        data: {
            addedCategory: "",
            info: "",
            currentPageNumber: 1,
            maxPage: 0,
            displayedCategories: [],
            nbCategoriesPerPage: 5,
            categories: [],
            dialogDeleteCategory: false,
            dialogEditCategory: false,
            selectCategory: null,
            nameSelectedCategory: "",
        },
        static: {
            titleRule: [
                (value) => !!value || "Le titre est requis",
                (value) => (value && value.length <= 10) || "Le titre doit contenir moins de 10 caractères",
                (value) => /^[a-zA-Z0-9 ]+$/.test(value) || "Le titre ne doit contenir que des lettres et des chiffres",
            ],
        },
        methods: {
            async addCategory() {
                if(this.addedCategory.trim() === "") return;

                let close = loaderStore.push();

                await taob.post("/category", {
                    category_name: this.addedCategory,
                }).s(this.refresh)
                .e((error) => {
                    this.info = "Erreur lors de l'ajout de la catégorie";
                }).result;

                this.addedCategory = "";

                close();
            },
            sortById() {
                this.displayedCategories.sort((a, b) => {
                    return a.id - b.id;
                });
            },
            sortByName() {
                this.displayedCategories.sort((a, b) => {
                    return a.title.localeCompare(b.title);
                });
            },
            async previousPage() {
                if (this.currentPageNumber > 1) {
                    this.currentPageNumber--;
                    this.refresh();
                }
            },
            async nextPage() {
                if (this.currentPageNumber < this.maxPage) {
                    this.currentPageNumber++;
                    this.refresh();
                }
            },
            async getCategories(page, count = false) {
                let close = loaderStore.push();

                // get categories per page
                await taob.get(`/categories?page=${page - 1}`).s((data) => {
                    this.displayedCategories = data;
                }).e((error) => {
                    this.info = "Erreur lors de la récupération des catégories";
                }).result;
                if (count) {
                    this.countCategories();
                }

                close();
            },
            deleteCategory(id) {
                this.selectCategory = id;
                this.dialogDeleteCategory = true;
            },
            editCategory(category_id, category_name) {
                this.selectCategory = category_id;
                this.nameSelectedCategory = category_name;
                this.dialogEditCategory = true;
            },
            async refresh(action) {
                if (action === "delete") {
                    this.getCategories(this.currentPageNumber, true);
                } else {
                    this.getCategories(this.currentPageNumber);
                }
            },
            async countCategories() {
                let close = loaderStore.push();

                await taob.get('/categories/count').s((data) => {
                    this.maxPage = Math.ceil(data / this.nbCategoriesPerPage);
                }).e((error) => {
                    this.info = "Erreur lors de la récupération du nombres catégories";
                }).result;

                close();
            }
        },
        mounted() {
            this.getCategories(this.currentPageNumber, true);
        }
    }
</script>

<style>
    
</style>