<div class="max-w-[1164px] h-[calc(100vh-100px)] pt-[20px] mx-auto px-7 lg:px-14 content">
    <h1 class="w-full text-[32px] font-bold border-b-[2px] border-inherit mb-[30px] text-center">Configuration du
        serveur mail
    </h1>
    <div class="w-full flex flex-col items-center gap-[20px]">
        <cv-form @submit="editConfigMail">
            <div class="w-full px-[20px] py-[10px] flex flex-col gap-[20px]">
                <div class="flex flex-col items-center">

                    <text-input type="text" cv-model="editMailFrom" placeholder="Email d'envoie" :rules="this.fromRule">
                </div>
                <div class="flex flex-col items-center">

                    <text-input type="number" cv-model="editPort" placeholder="Port du serveur"
                        :value="this.configMail.MAIL_PORT" :rules="this.portRule" />
                </div>
                <div class="flex flex-col items-center">

                    <text-input type="text" cv-model="editMailHost" placeholder="Host du serveur"
                        :value="this.configMail.MAIL_HOST" :rules="this.hostRule" />
                </div>
                <div class="flex flex-col items-center">
                    <button class="border rounded-[8px] px-[20px] py-[10px] bg-skyblue text-white ">Modifier</button>
                </div>
            </div>
        </cv-form>
    </div>
</div>

<script>
    const [impLoader, impTaob] = await Promise.all([
        import("/public/cuteVue/loader.js"),
        import("/public/cuteVue/taob.js")
    ]);

    const loaderStore = impLoader.loaderStore;
    const taob = impTaob.default;

    export default {
        data: {
            configMail: [],
            editMailFrom: "",
            editPort: 1025,
            editMailHost: "",
        },
        static: {
            fromRule: [
                v => !!v || "Le champ est requis",
                v => /.+@.+\..+/.test(v) || "L'email n'est pas valide",
            ],
            portRule: [
                v => !!v || "Le champ est requis",
                v => v >= 0 || "Le port doit être supérieur à 0",
            ],
            hostRule: [
                v => !!v || "Le champ est requis",
            ],
        },
        methods: {
            async getConfigMail() {
                let close = loaderStore.push();
                const response = await taob.get("/config/mail").s(res => {
                    this.configMail = res;
                    this.editMailFrom = res.MAIL_FROM;
                    this.editPort = res.MAIL_PORT;
                }).e((error) => {
                    this.pushToast(error, "Erreur lors de la récupération de la configuration du serveur mail");
                }).result;
                close();
            },
            async editConfigMail() {
                let close = loaderStore.push();
                const response = await taob.put("/config/mail", {
                    MAIL_FROM: this.editMailFrom,
                    MAIL_PORT: this.editPort,
                    MAIL_HOST: this.editMailHost,
                }).s(res => {
                    this.pushToast("La configuration du serveur mail a bien été modifié", "Modification réussi");
                    this.getConfigMail();
                }).e((error) => {
                    this.pushToast(error, "Erreur lors de la modification de la configuration du serveur mail");
                }).result;
                close();
            },
        },
        stores: [
            {
                name: "toast",
                actions: ["pushToast"],
            }
        ],
        mounted() {
            this.getConfigMail();
        }
    }

</script>

<style></style>