<div>
    <div class="max-w-[1164px] h-[calc(100vh-100px)] pt-[20px] mx-auto px-7 lg:px-14 content">
        <div class="lg:flex lg:items-center lg:justify-between">
            <button class="btn btn-primary" @click="switchFormMovieOrSerie"> {{ this.switch }}</button>
            <div cv-if="this.formMovieOrSerie === true">
                <cv-form @submit="submitMovie">
                    <text-input  
                    type="text" 
                    placeholder="Titre du film" 
                    cv-model="titleMovie" 
                    :rules="this.titleRule"
                    />
                    <text-input 
                    type="text" 
                    placeholder="Description du film" 
                    cv-model="descriptionMovie"
                    :rules="this.descriptionRule"
                    />
                    <select name="selectMovie" id="" cv-model="formSelectCategoryFilm">
                        <option value="" selected>Choisir une catégorie</option>
                        <option cv-for="category of this.categoryList" :value="this.category.id">{{ this.category.title }}</option>
                    </select>
                    <div class="">
                        <button type="submit" class="px-[20px] py-[10px] border rounded-[8px]">Ajouter</button>
                    </div>
                </cv-form>
            </div>
            <div cv-if="this.formMovieOrSerie === false">
                <h1>serie form</h1>
            </div>
        </div>
        <span cv-if="this.displayedMovie.length === 0">Aucun Film trouvé.</span>
        <span cv-if="this.displayedSerie.length === 0">Aucune Série trouvé.</span>
    </div>
</div>

<script>
    const [impLoader, impTaob] = await Promise.all([
        import("/public/cuteVue/loader.js"),
        import("/public/cuteVue/taob.js")
    ]);

    const loaderStore = impLoader.loaderStore;
    const taob = impTaob.default;

    export  default {
        data: {
            title: "test",
            displayedMovie: [],
            displayedSerie: [],
            formMovieOrSerie: true,
            titleMovie: "",
            descriptionMovie: "",
            switch: "Ajouter un film",
            categoryList: [],
            imageMovie: "",
            MovieUrl: [],
        },
        static: {
            titleRule: [
                (value) => !!value || "Le titre est requis",
                (value) => /^[a-zA-Z0-9 ]+$/.test(value) || "Le titre ne doit contenir que des lettres et des chiffres",
            ],
            descriptionRule: [
                (value) => !!value || "La description est requise",
                (value) => /^[a-zA-Z0-9 ]+$/.test(value) || "La description ne doit contenir que des lettres et des chiffres",
            ],
            imageRule: [
                (value) => !!value || "L'image est requise",
                (value) => !value.startWish("https://") && !value.startsWith("http://") ? "L'url de l'image doit commencer par https:// ou http://" : true,
                (value) => !value.match(/^(https:\/\/|http:\/\/)[a-z0-9.:]+$/) ? "le format de l'url de l'image n'est pas valide" : true
            ],
            urlRule: [
                (value) => !!value || "L'url est requise",
                (value) => !value.startWish("https://") && !value.startsWith("http://") ? "L'url de la vidéo doit commencer par https:// ou http://" : true,
                (value) => !value.match(/^(https:\/\/|http:\/\/)[a-z0-9.:]+$/) ? "le format de l'url de la vidéo n'est pas valide" : true
            ],
        },
        methods: {
            switchFormMovieOrSerie() {
                this.formMovieOrSerie = !this.formMovieOrSerie;
                if (this.formMovieOrSerie === true) {
                    this.switch = "Ajouter une série";
                } else {
                    this.switch = "Ajouter un film";
                }
            },
            async getCategoryList() {
                await taob.get("/categories").s(data => {
                    this.categoryList = data.categories;
                }).result;
            },
            async submitMovies() {
                let close = loaderStore.push();
                await taob.post(
                    "/movie",
                    {
                        title_video: this.titleMovie,
                        description: this.descriptionMovie,
                        image: this.imageMovie,
                        category_id: this.formSelectCategoryFilm,
                        url: this.MovieUrl,
                    }
                ).s(() => {
                    this.info = "Le film a bien été ajouté";
                }).e((error) => {
                    this.info = "Une erreur est survenue";
                }).result;

                close();
            },
        },
        mounted() {
            this.getCategoryList();
        }
    }
</script>

<style scoped>
    h1 {
        color: red;
    }
</style>