<div class="max-w-[1164px] h-[calc(100vh-100px)] pt-[20px] mx-auto px-7 lg:px-14 content">
    <div class="table w-full">
        <div class="table-header w-full flex flex-col justify-between items-start mb-[10px]">
            <cv-form @submit="addRole">
            <div class="search-bar border rounded-[8px] px-[20px] py-[10px] flex items-center">
                <input type="text" cv-model="addedRole" class="focus:outline-none" placeholder="Nouveau rôle"><button>Ajouter</button>
            </div>
            </cv-form>
            <p class="mt-[10px] text-pinkred">{{ this.info }}</p>
        </div>
        <table class="table-content w-full border-2 rounded-t-[8px]">
            <thead class="bg-whitesmoke">
            <tr>
                <th class="p-[22px] text-left">Nom</th>
                <th class="p-[22px]">Access Dashboard</th>
                <th class="p-[22px]">Role Editor</th>
                <th class="p-[22px]">Comments Manager</th>
                <th class="p-[22px]">Contents Manager</th>
                <th class="p-[22px]">Stats Viewer</th>
                <th class="p-[22px]">User Editor</th>
                <th class="p-[22px]">Config Editor</th>
                <th class="p-[22px]">Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr class="border-2" cv-for="role of this.roles">
                <td class="p-[22px] text-left">{{ this.role.name }}</td>
                <td class="p-[22px] text-center">
                    <input cv-if="this.isEditMode === false || this.role.id !== this.roleId" type="checkbox" :checked="this.role.permissions.indexOf('access_dashboard') !== -1" :disabled="this.isEditMode === false || this.role.id !== this.roleId">
                    <checkbox cv-if="this.isEditMode === true && this.role.id === this.roleId" cv-model="accessDashboardEdited"></checkbox>
                </td>
                <td class="p-[22px] text-center">
                    <input cv-if="this.isEditMode === false || this.role.id !== this.roleId" type="checkbox" :checked="this.role.permissions.indexOf('role_editor') !== -1" :disabled="this.isEditMode === false || this.role.id !== this.roleId">
                    <checkbox cv-if="this.isEditMode === true && this.role.id === this.roleId" cv-model="roleEditorEdited"></checkbox>
                </td>
                <td class="p-[22px] text-center">
                    <input cv-if="this.isEditMode === false || this.role.id !== this.roleId" type="checkbox" :checked="this.role.permissions.indexOf('comments_manager') !== -1" :disabled="this.isEditMode === false || this.role.id !== this.roleId">
                    <checkbox cv-if="this.isEditMode === true && this.role.id === this.roleId" cv-model="commentsManagerEdited"></checkbox>
                </td>
                <td class="p-[22px] text-center">
                    <input cv-if="this.isEditMode === false || this.role.id !== this.roleId" type="checkbox" :checked="this.role.permissions.indexOf('contents_manager') !== -1" :disabled="this.isEditMode === false || this.role.id !== this.roleId">
                    <checkbox cv-if="this.isEditMode === true && this.role.id === this.roleId" cv-model="contentsManagerEdited"></checkbox>
                </td>
                <td class="p-[22px] text-center">
                    <input cv-if="this.isEditMode === false || this.role.id !== this.roleId" type="checkbox" :checked="this.role.permissions.indexOf('stats_viewer') !== -1" :disabled="this.isEditMode === false || this.role.id !== this.roleId">
                    <checkbox cv-if="this.isEditMode === true && this.role.id === this.roleId" cv-model="statsViewerEdited"></checkbox>
                </td>
                <td class="p-[22px] text-center">
                    <input cv-if="this.isEditMode === false || this.role.id !== this.roleId" type="checkbox" :checked="this.role.permissions.indexOf('user_editor') !== -1" :disabled="this.isEditMode === false || this.role.id !== this.roleId">
                    <checkbox cv-if="this.isEditMode === true && this.role.id === this.roleId" cv-model="userEditorEdited"></checkbox>
                </td>
                <td class="p-[22px] text-center">
                    <input cv-if="this.isEditMode === false || this.role.id !== this.roleId" type="checkbox" cv-model="configEditorEdited" :checked="this.role.permissions.indexOf('config_editor') !== -1" :disabled="this.isEditMode === false || this.role.id !== this.roleId">
                    <checkbox cv-if="this.isEditMode === true && this.role.id === this.roleId" cv-model="configEditorEdited"></checkbox>
                </td>
                <td class="p-[22px] text-center">
                    <span class="mdi mdi-square-edit-outline text-2xl text-adminblack cursor-pointer" cv-if="this.isEditMode === false || this.role.id !== this.roleId" @click="this.isEditable(this.role)"></span>
                    <span class="mdi mdi-trash-can-outline text-2xl text-pinkred cursor-pointer" cv-if="this.isEditMode === false || this.role.id !== this.roleId" @click="this.deleteRole(this.role)"></span>
                    <span class="mdi mdi-check text-2xl text-[green] cursor-pointer" cv-if="this.isEditMode === true && this.role.id === this.roleId" @click="this.editRole(this.role.id)"></span>
                    <span class="mdi mdi-close text-2xl text-pinkred cursor-pointer" cv-if="this.isEditMode === true && this.role.id === this.roleId" @click="this.isEditable(this.role)"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    const [impLoader, impTaob] = await Promise.all([
        import("/public/cuteVue/loader.js"),
        import("/public/cuteVue/taob.js")
    ]);
    const loaderStore = impLoader.loaderStore;
    const taob = impTaob.default;
    export default {
        data: {
            roles: [],
            roleId: null,
            isEditMode: false,
            accessDashboardEdited: false,
            roleEditorEdited: false,
            commentsManagerEdited: false,
            contentsManagerEdited: false,
            statsViewerEdited: false,
            userEditorEdited: false,
            configEditorEdited: false,
            addedRole: "",
            info: ""
        },
        methods: {
            async getRoles() {
                let close = loaderStore.push();

                await taob.get('roles').s(data => {
                    data.roles.forEach(role => {
                        role.permissions = role.permissions.map(p => p.name);
                    })
                    this.roles = data.roles;
                }).result;

                close();
            },
            isEditable(role) {
                if (this.isEditMode === true) {
                    this.isEditMode = false;
                    this.resetEditData();
                    return;
                }
                this.roleId = role.id;
                if (role.permissions.indexOf("access_dashboard") !== -1) this.accessDashboardEdited = true;
                if (role.permissions.indexOf("role_editor") !== -1) this.roleEditorEdited = true;
                if (role.permissions.indexOf("comments_manager") !== -1) this.commentsManagerEdited = true;
                if (role.permissions.indexOf("contents_manager") !== -1) this.contentsManagerEdited = true;
                if (role.permissions.indexOf("stats_viewer") !== -1) this.statsViewerEdited = true;
                if (role.permissions.indexOf("user_editor") !== -1) this.userEditorEdited = true;
                if (role.permissions.indexOf("config_editor") !== -1) this.configEditorEdited = true;
                this.isEditMode = true;
            },
            resetEditData() {
                this.roleId = null;
                this.accessDashboardEdited = false;
                this.roleEditorEdited = false;
                this.commentsManagerEdited = false;
                this.contentsManagerEdited = false;
                this.statsViewerEdited = false;
                this.userEditorEdited = false;
                this.configEditorEdited = false;
                this.info = "";
            },
            async editRole() {
                let close = loaderStore.push();

                let permissions = [];

                if (this.accessDashboardEdited === true) permissions.push("access_dashboard");
                if (this.roleEditorEdited === true) permissions.push("role_editor");
                if (this.commentsManagerEdited === true) permissions.push("comments_manager");
                if (this.contentsManagerEdited === true) permissions.push("contents_manager");
                if (this.statsViewerEdited === true) permissions.push("stats_viewer");
                if (this.userEditorEdited === true) permissions.push("user_editor");
                if (this.configEditorEdited === true) permissions.push("config_editor");

                await taob.put('role/' + this.roleId + '/permissions', {
                    permissions: permissions
                }).s(data => {
                    this.isEditMode = false;
                    this.resetEditData();
                    this.getRoles();
                }).info(info => {
                    if (info === "role.protected.admin") this.info = "Vous ne pouvez pas editer le rôle administrateur.";
                }).result;

                close();
            },
            async addRole() {
                let close = loaderStore.push();

                await taob.post('role', {
                    name: this.addedRole
                }).s(this.getRoles).result

                close();
            },
            async deleteRole(role) {
                let close = loaderStore.push();

                await taob.delete('role/' + role.id)
                    .s(this.getRoles)
                    .info(info => {
                        if(info === "role.protected.admin") this.info = "Vous ne pouvez pas supprimer le rôle administrateur."
                }).result

                close();
            }
        },

        mounted(){
            this.getRoles();
        },
    }
</script>
<style></style>