<div>
    <div class="max-w-[1164px] h-[calc(100vh-100px)] pt-[20px] mx-auto px-7 lg:px-14 content">
        <div class="lg:flex lg:items-center lg:justify-between">
            <h1>add serie</h1>
        </div>
    </div>  
</div>

<script>
    const [impLoader, impTaob] = await Promise.all([
        import("/public/cuteVue/loader.js"),
        import("/public/cuteVue/taob.js")
    ]);

    const loaderStore = impLoader.loaderStore;
    const taob = impTaob.default;

    export default {
        data: {
        },
        static: {
        },
        methods: {
        },
        mounted() {
        }

    }
</script>

<style></style>