<select :value="this.value" class="focus:outline-none px-[20px] py-[10px] rounded-[8px] w-full" @input="clicked">
    <option :value="this.currentroleid" selected="selected">{{ this.currentrolename }}</option>
    <option cv-for="role of this.roles" :value="this.role.id">{{ this.role.name }}</option>
</select>
<script>
    export default {
        props: {
            value: "",
            roles: [],
            currentrolename: "",
            currentroleid: ""
        },
        methods: {
            clicked(e) {
                this.$emit("input", {target:{value: e.target.value}});
            }
        }
    }
</script>

<style></style>