<div 
:rulled="this.rules.length !== 0"
cv-class="{
    'opacity-[0.5] !cursor-not-allowed': this.disabled,
}"
>
    <div class="w-full relative">
        <label 
        cv-if="this.label !== false"
        :for="this.name"
        class="absolute top-2/4 -translate-y-[50%] transition-all cursor-text opacity-[0.5] select-none"
        cv-class="{
            '!top-0 text-[0.8em] !opacity-[1]': this.isFocus || this.value,
            '!cursor-not-allowed': this.disabled,
        }"
        @click="this.$refs.input.focus()"
        >
            {{ this.label }}
        </label>

        <input
        cv-ref="input"
        :name="this.name"
        :type="this.type"
        :value="this.value"
        :placeholder="this.placeholder"
        :disabled="this.disabled"
        @input="inputed"
        @focus="focused"
        @blur="blured"
        class="bg-transparent py-[5px] focus:outline-none focus:border-skyblue w-full transition"
        cv-class="{
            'border-[red]': this.invalide !== false,
            'border-b-[2px]': this.border,
            '!cursor-not-allowed': this.disabled,
        }"
        >

        <slot></slot>
    </div>

    <small class="text-[red]">{{this.invalide || ""}}</small>
</div>

<script>
    export default {
        data: {
            invalide: false
        },
        props:{
            value: "",
            placeholder: false,
            rules: [],
            type: "text",
            disabled: false,
            name: false,
            "always-rule": false,
            label: false,
            isFocus: false,
            border: true,
        },
        methods: {
            inputed(e){
                this.$emit("input", e);
                if(this.invalide !== false || this["always-rule"] === true)setTimeout(this.validate);
            },
            focused(e){
                this.isFocus = true;
                this.$emit("focus", e);
            },
            blured(e){
                this.isFocus = false;
                this.$emit("blur", e);
            },
            validate(){
                if(this.disabled === true) return true;

                for(const rule of this.rules){
                    let result = rule(this.value);
                    if(result !== true){
                        this.invalide = result;
                        return false;
                    }
                }

                if(this.invalide !== false)this.invalide = false;
                return true;
            }
        },
        mounted(){
            this.$getElement().$validate = () => this.validate();
        },
    }
</script>

<style>

</style>