# Default ignored files
/shelf/
/workspace.xml
config.php

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Deleting module files (.iml) on project file deletion
.iml

# Deleting VSCode & Intellij files
.idea
.code
.env

# Deleting migration file
/migration.sql

logs/*.txt
# Deleting .env file
.env

generate.index.php
generate.methods.php