<div class="w-full flex gap-[20px] add-comment">
    <div class="avatar">
        <span class="mdi mdi-account-circle block mt-[-15px] text-[48px]"></span>
    </div>
    <cv-form 
    class="flex-1 flex flex-col items-end comment"
    @submit="submit" 
    >
        <text-input
        type="text"
        placeholder="Ajouter un commentaire..."
        cv-model="content"
        :rules="this.commentRule"
        class="w-full"
        ></text-input>

        <button 
        type="submit" 
        class="mt-[30px] px-[20px] py-[10px] rounded bg-darkblue submit"
        >
        Commenter
        </button> 
    </cv-form>
</div>

<script>
    const [impLoader, impTaob] = await Promise.all([
        import("/public/cuteVue/loader.js"),
        import("/public/cuteVue/taob.js")
    ]);

    const loaderStore = impLoader.loaderStore;
    const taob = impTaob.default;

    export default {
        data: {
            content: "",
            success: false
        },

        static: {
            commentRule: [
                (value) => !!value || "Ce champs est obligatoire",
            ]
        },

        methods: {
            async submit(){
                let close = loaderStore.push();

                this.success = false;

                const comment = {
                    content: this.content, // TODO: change video_id and user_id
                    video_id: 1,
                    user_id: 3,
                    status: 1,
                    user: {
                        username: this.username
                    }
                }

                await taob.post("/comment", comment)
                .s(() => {
                    this.success = true;
                    this.$emit("add-comment", comment);
                    this.content = "";
                })
                .e(() => {
                    alert("Une erreur est survenue");
                })
                .result;

                close();
            }
        },

        mounted(){
        },

        stores: [
            {
                name: "user",
                states: ["username"],
            }
        ]
    }
</script>

<style>
    
</style>