<div class="w-full flex gap-[20px] add-comment">
    <div class="avatar">
        <user-image
        size="48"
        />
    </div>
    <cv-form 
    class="flex-1 flex flex-col items-end comment"
    @submit="submit" 
    >
        <text-input
        type="text"
        placeholder="Ajouter un commentaire..."
        cv-model="content"
        :rules="this.commentRule"
        class="w-full"
        />

        <button 
        type="submit" 
        class="mt-[30px] px-[20px] py-[10px] rounded bg-darkblue submit"
        >
        Commenter
        </button> 
    </cv-form>
</div>

<script>
    const [{default: taob}, user_image] = await Promise.all([
        import("/public/cuteVue/taob.js"),
        importer('/public/cuteVue/components/account/user-image.html'),
    ]);


    export default {
        components: {
            "user-image": user_image
        },
        data: {
            content: "",
        },
        static: {
            commentRule: [
                (value) => !!value || "Ce champs est obligatoire",
                (value) => value.length <= 1500 || "Maximum 1500 caractéres",
            ]
        },
        methods: {
            async submit(){
                await taob.post(
                    "/video/{id}/comment", 
                    {content: this.content}, 
                    {
                        params: {id: this.params.id},
                        loader: true,
                    }
                )
                .info((info, ok) => {
                    if(!ok){
                        this.pushToast("error", "Erreur lors de la publication du commentaire.");
                    }
                })
                .sd();
                this.content = "";
                this.$emit("add-comment");
            }
        },
        stores: [
            {
                name: "router",
                states: ["params"]
            },
            {
                name: "toast",
                actions: ["pushToast"]
            },
        ]
    }
</script>

<style>
    
</style>