<header class="fixed bg-white h-[100px] border-b-[1px] w-[calc(100vw-250px)] text-black ml-[250px] px-[60px] py-[30px] flex items-center justify-between">
    <div class="welcome">
        <span class="text-[32px] font-bold">Salut, {{ this.username }} ! 👋</span>
    </div>

    <user-image size="60"/>
</header>

<script>
    const [user_image] = await Promise.all([
        importer("/public/cuteVue/components/account/user-image.html"),
    ]);

    export default {
        components: {
            "user-image": user_image
        },
        data: {
        },
        methods: {
        },
        mounted(){
        },
        stores: [
            {
                name: "user",
                states: ["username"],
                actions: []
            }
        ]
    }
</script>

<style>
    
</style>