<aside class="w-[250px] h-[100vh] flex flex-col justify-between bg-adminblack fixed">
    <div class="top">
        <div class="h-[130px] flex justify-center items-center logo">
            <router_link href="/admin">
                <span class="text-5xl font-semibold text-white">Admin</span>
            </router_link>
        </div>
        <nav class="navbar">
            <ul>
                <li class="text-whiteless hover:text-white hover:bg-adminblacker"
                    cv-class="{
                        'border-l-4 border-white-500': this.pathname === '/admin'
                    }"
                >
                    <router_link href="admin" class="px-[24px] py-[18px] flex items-center gap-[24px] cursor-pointer">
                        <span class="mdi mdi-view-dashboard"></span>
                        Dashboard
                    </router_link>
                </li>
                <li class="text-whiteless hover:text-white hover:bg-adminblacker"
                    cv-class="{
                        'border-l-4 border-white-500': this.pathname === '/admin/users'
                    }"
                >
                    <router_link cv-if="this.hasPermission('user_editor')" href="admin/users" class="px-[24px] py-[18px] flex items-center gap-[24px] cursor-pointer">
                        <span class="mdi mdi-account-group text-[18px]"></span>
                        Liste des utilisateurs
                    </router_link>
                </li>
                <li class="text-whiteless hover:text-white hover:bg-adminblacker"
                    cv-class="{
                        'border-l-4 border-white-500': this.pathname === '/admin/roles'
                    }"
                >
                    <router_link cv-if="this.hasPermission('role_editor')" href="admin/roles" class="px-[24px] py-[18px] flex items-center gap-[24px] cursor-pointer">
                        <span class="mdi mdi-cards-outline text-[18px]"></span>
                        Liste des rôles
                    </router_link>
                </li>
            </ul>
        </nav>
    </div>
    <div class="text-whiteless hover:text-white hover:bg-adminblacker bot">
        <router_link href="/" class="px-[24px] py-[18px] flex items-center gap-[24px] cursor-pointer">
            <span class="mdi mdi-logout text-[18px]"></span>
            Revenir sur le site
        </router_link>
    </div>
</aside>

<script>
    export default {
        data: {},

        props: {},

        methods: {

        },

        mounted() {

        },

        stores: [
            {
                name: "router",
                states: ["pathname"]
            },
            {
                name: "user",
                actions: ["hasPermission"]
            }
        ]
    }
</script>

<style>
</style>