<header class="fixed bg-white h-[100px] border-b-[1px] w-[calc(100vw-250px)] text-black ml-[250px] px-[60px] py-[30px] flex items-center justify-between">
    <div class="flex items-center gap-[5px]">
        <span class="text-[32px] font-bold">Hello, {{ this.username }}</span>
        <img src="/public/img/icons/hello-admin.png" alt="Hello Admin" class="ml-[10px]">
    </div>
    <div class="profile-picture h-[60px] w-[60px] rounded-full flex items-center justify-center">
        <span class="text-white font-bold tracking-wide">{{ this.getFirstLetters() }}</span>
    </div>
</header>
<script>
    export default {
        data: {
            displayOptionsMenu: false,
            displayNaveBar: false,
        },
        methods: {
            getFirstLetters() {
                return this.firstname[0] + this.lastname[0];
            },
            changePictureBgColor() {
                const colors = ["grey", "blackless", "skyblue", "pinkred"];
                const index = Math.floor(Math.random() * (colors.length));
                const picture = document.querySelector(".profile-picture");
                picture.classList.add("bg-" + colors[index]);
            }
        },
        mounted(){
            this.changePictureBgColor();
        },
        stores: [
            {
                name: "user",
                states: ["firstname", "lastname", "username"],
                actions: []
            }
        ]
    }
</script>
<style>
</style>