<aside class="w-[250px] h-[100vh] flex flex-col justify-between bg-adminblack fixed">
    <div class="top">
        <div class="h-[130px] flex justify-center items-center logo">
            <router_link href="/admin">
                <span class="text-5xl font-semibold text-white">Admin</span>
            </router_link>
        </div>

        <nav class="navbar">
            <ul>
                <li class="text-whiteless hover:text-white hover:bg-adminblacker"
                    cv-class="{
                        'border-l-4 border-white-500': this.pathname === '/admin'
                    }"
                >
                    <router_link href="/admin" class="px-[24px] py-[18px] flex items-center gap-[24px] cursor-pointer">
                        <icon name="view-dashboard" class="text-[18px]"/>
                        Dashboard
                    </router_link>
                </li>

                <li class="text-whiteless hover:text-white hover:bg-adminblacker"
                    cv-class="{
                        'border-l-4 border-white-500': this.pathname === '/admin/users'
                    }"
                >
                    <router_link cv-if="this.hasPermission('user_editor')" href="admin/users" class="px-[24px] py-[18px] flex items-center gap-[24px] cursor-pointer">
                        <icon name="account-group" class="text-[18px]"/>
                        Liste des utilisateurs
                    </router_link>
                </li>

                <li class="text-whiteless hover:text-white hover:bg-adminblacker"
                    cv-class="{
                        'border-l-4 border-white-500': this.pathname === '/admin/roles'
                    }"
                >
                    <router_link cv-if="this.hasPermission('role_editor')" href="admin/roles" class="px-[24px] py-[18px] flex items-center gap-[24px] cursor-pointer">
                        <icon name="card-account-details" class="text-[18px]"/>
                        Liste des rôles
                    </router_link>
                </li>

                <li class="text-whiteless">
                    <button class="px-[24px] py-[18px] flex items-center gap-[24px] w-full hover:text-white hover:bg-adminblacker cursor-pointer"
                    cv-class="{ 'bg-adminblacker': this.dropdownContentManager }"
                    @click="toggleDropdownContentManager"
                    >
                        <icon name="content-copy" class="text-[18px]"/>
                        Gérer contenu

                        <icon name="chevron-down" class="text-[18px]" cv-class="{ 'rotate-180': this.dropdownContentManager }"/>
                    </button>

                    <ul cv-if="this.dropdownContentManager === true">
                        <li class="text-whiteless hover:text-white hover:bg-adminblacker" cv-class="{
                            'border-l-4 border-white-500': this.pathname === '/admin/categories'
                        }">
                            <router_link href="/admin/categories" class="px-[24px] py-[18px] ml-[20px] flex items-center gap-[24px] cursor-pointer">
                                <icon name="shape" class="text-[18px]"/>
                                Gérer catégories
                            </router_link>
                        </li>

                        <li class="text-whiteless hover:text-white hover:bg-adminblacker" cv-class="{
                            'border-l-4 border-white-500': this.pathname === '/admin/series'
                        }">
                            <router_link href="/admin/series" class="px-[24px] py-[18px] ml-[20px] flex items-center gap-[24px] cursor-pointer">
                                <icon name="movie-open" class="text-[18px]"/>
                                Gérer séries
                            </router_link>
                        </li>

                        <li class="text-whiteless hover:text-white hover:bg-adminblacker" cv-class="{
                            'border-l-4 border-white-500': this.pathname === '/admin/movies'
                        }">
                            <router_link href="/admin/movies" class="px-[24px] py-[18px] ml-[20px] flex items-center gap-[24px] cursor-pointer">
                                <icon name="filmstrip" class="text-[18px]"/>
                                Gérer films
                            </router_link>
                        </li>
                    </ul>
                </li>
                <li class="text-whiteless">
                    <button
                        class="px-[24px] py-[18px] flex items-center gap-[24px] w-full hover:text-white hover:bg-adminblacker cursor-pointer"
                        cv-class="{ 'bg-adminblacker': this.dropdownConfigManager }" @click="toggleDropdownConfigManager">
                        <icon name="cog" class="text-[18px]" />
                        Gérer config&nbsp;&nbsp;&nbsp;
                
                        <icon name="chevron-down" class="text-[18px]" cv-class="{ 'rotate-180': this.dropdownConfigManager }" />
                    </button>
                
                    <ul cv-if="this.dropdownConfigManager === true">
                        <li class="text-whiteless hover:text-white hover:bg-adminblacker" cv-class="{
                                            'border-l-4 border-white-500': this.pathname === '/admin/config'
                                        }">
                            <router_link href="admin/config"
                                class="px-[24px] py-[18px] ml-[20px] flex items-center gap-[24px] cursor-pointer">
                                <icon name="application-cog" class="text-[18px]" />
                                Config App
                            </router_link>
                        </li>
                
                        <li class="text-whiteless hover:text-white hover:bg-adminblacker" cv-class="{
                                            'border-l-4 border-white-500': this.pathname === '/admin/config/mail'
                                        }">
                            <router_link href="admin/config/mail"
                                class="px-[24px] py-[18px] ml-[20px] flex items-center gap-[24px] cursor-pointer">
                                <icon name="mailbox" class="text-[18px]" />
                                Config Mail
                            </router_link>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div class="text-whiteless hover:text-white hover:bg-adminblacker bot">
        <router_link href="/" class="px-[24px] py-[18px] flex items-center gap-[24px] cursor-pointer">
            <icon name="logout" class="text-[18px]"/>
            Revenir sur le site
        </router_link>
    </div>
</aside>

<script>
    export default {
        data: {
            dropdownContentManager: false,
            dropdownConfigManager: false
        },
        watch: {
            pathname() {
                this.setDropdownContentManager();
                this.setDropdownConfigManager();
            }
        },
        methods: {
            setDropdownContentManager() {
                if(this.pathname === "/admin/categories" || this.pathname === "/admin/movies" || this.pathname === "/admin/series") {
                    this.dropdownContentManager = true
                } else {
                    this.dropdownContentManager = false
                }
            },
            toggleDropdownContentManager() {
                this.dropdownContentManager = !this.dropdownContentManager
            },
            toggleDropdownConfigManager() {
                this.dropdownConfigManager = !this.dropdownConfigManager
            },
            setDropdownConfigManager() {
                if(this.pathname === "/admin/config" || this.pathname === "/admin/config/mail") {
                    this.dropdownConfigManager = true
                } else {
                    this.dropdownConfigManager = false
                }
            }
        },
        mounted() {
            this.setDropdownConfigManager();
            this.setDropdownContentManager();
            this.dropdownConfigManager = false;
        },
        stores: [
            {
                name: "router",
                states: ["pathname"]
            },
            {
                name: "user",
                actions: ["hasPermission"]
            }
        ]
    }
</script>

<style>

</style>