<form 
cv-ref="form"
@submit="submited"
>
    <slot></slot>
</form>

<script>
    export default {
        methods: {
            submited(e){
                e.preventDefault();
                let submit = true;
                for(const element of this.$refs.form.querySelectorAll("[rulled]")){
                    if(element.$validate() === false) submit = false;
                }
                if(submit === true) this.$emit("submit");
            }
        }
    }
</script>

<style>

</style>