<footer class="px-14 py-12 bg-darkblue">
    <div class="max-w-[1050px] mx-auto footer-content">
        <div class="top flex flex-col lg:flex-row justify-between">
            <nav class="navigation-nav">
                <h2 class="text-xl font-bold leading-normal mt-0 mb-2 text-white">Navigation</h2>
                <ul class="flex flex-col flex-wrap max-h-[100px]">
                    <li class="h-[20px]">
                        <router_link href="/" class="text-sm text-whiteless hover:text-white">Accueil</router_link>
                    </li>
                    
                    <li class="h-[20px]">
                        <router_link href="/catalog" class="text-sm text-whiteless hover:text-white">Catalogue</router_link>
                    </li>

                    <li cv-for="page of this.pagesFilter" class="h-[20px]">
                        <router_link :href="'/pages/' + this.page.name" class="text-sm text-whiteless hover:text-white">{{this.page.navTitle || this.page.name}}</router_link>
                    </li>
                </ul>
            </nav>
            <nav class="social-nav">
                <h2 class="text-xl font-bold leading-normal mt-4 lg:mt-0 mb-2 text-white">Suivez-nous !</h2>
                <ul>
                    <li>
                        <a class="flex items-center gap-[5px] text-sm text-whiteless hover:text-white" href="#">
                            <icon name="facebook" size="18"/>
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a class="flex items-center gap-[5px] text-sm text-whiteless hover:text-white" href="#">
                            <icon name="twitter" size="18"/>
                            Twitter
                        </a>
                    </li>
                    <li>
                        <a class="flex items-center gap-[5px] text-sm text-whiteless hover:text-white" href="#">
                            <icon name="instagram" size="18"/>
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a class="flex items-center gap-[5px] text-sm text-whiteless hover:text-white" href="#">
                            <icon name="youtube" size="18"/>
                            Youtube
                        </a>
                    </li>
                </ul>
            </nav>
            <nav class="account-nav">
                <h2 class="text-xl font-bold leading-normal mt-4 lg:mt-0 mb-2 text-white">Compte</h2>
                <ul>
                    <li cv-if="!this.isConnected">
                        <router_link href="/signup" class="flex items-center gap-[5px] text-sm text-whiteless hover:text-white">
                            <icon name="facebook" size="18"/>

                            Céer un compte
                        </router_link>
                    </li>

                    <li cv-if="!this.isConnected">
                        <router_link href="/signin" class="flex items-center gap-[5px] text-sm text-whiteless hover:text-white">
                            <icon name="facebook" size="18"/>

                            Se connecter
                        </router_link>
                    </li>

                    <li cv-if="this.isConnected">
                        <router_link href="/lists" class="flex items-center gap-[5px] text-sm text-whiteless hover:text-white">
                            <icon name="bookmark-outline" size="18"/>

                            Mes lists
                        </router_link>
                    </li>

                    <li cv-if="this.isConnected && this.hasPermission('access_dashboard') && this.hasPermission('stats_viewer')">
                        <router_link href="/dashboard" class="flex items-center gap-[5px] text-sm text-whiteless hover:text-white">
                            <icon name="security" size="18"/>

                            Accéder au dashboard
                        </router_link>
                    </li>

                    <li cv-if="this.isConnected">
                        <router_link href="/account" class="flex items-center gap-[5px] text-sm text-whiteless hover:text-white">
                            <icon name="account" size="18"/>

                            Paramètre du compte
                        </router_link>
                    </li>

                    <li cv-if="this.isConnected">
                        <span @click="this.toDisconnect()" class="flex items-center gap-[5px] text-sm text-whiteless hover:text-white">
                            <icon name="logout" size="18"/>

                            Se déconnecter
                        </span>
                    </li>
                </ul>
            </nav>
        </div>
        <hr class="my-6">
        <div class="bot">
            <small class="text-whiteless">&copy; CMStream {{ this.currentYear }}</small>
        </div>
    </div>
</footer>

<script>
    const [impLoader] = await Promise.all([
        import("/public/cuteVue/stores/loader.js")
    ]);

    const loaderStore = impLoader.loaderStore;

    export default {
        data: {
            currentYear: new Date().getFullYear()
        },
        methods: {
            async toDisconnect(){
                let close = loaderStore.push();

                await this.disconnect();
                router.push("/");
                close();
            },
        },
        stores: [
            {
                name: "user",
                states: ["isConnected", "role", "permissions"],
                actions: ["disconnect", "hasPermission"]
            },
            {
                name: "pages",
                computed: ["pagesFilter"],
            }
        ]
    }
</script>

<style>

</style>