<footer class="px-14 py-12 bg-darkblue">
    <div class="max-w-[1050px] mx-auto footer-content">
        <div class="top flex flex-col lg:flex-row justify-between">
            <nav class="navigation-nav">
                <h2 class="text-xl font-bold leading-normal mt-0 mb-2 text-white">Navigation</h2>
                <ul>
                    <li>
                        <router_link href="catalog" class="text-sm text-whiteless hover:text-white">Catalogue</router_link>
                    </li>
                    <li>
                        <a class="text-sm text-whiteless hover:text-white" href="#">Boutique</a>
                    </li>
                    <li>
                        <a class="text-sm text-whiteless hover:text-white" href="#">News</a>
                    </li>
                </ul>
            </nav>
            <nav class="social-nav">
                <h2 class="text-xl font-bold leading-normal mt-4 lg:mt-0 mb-2 text-white">Suivez-nous !</h2>
                <ul>
                    <li>
                        <a class="text-sm text-whiteless hover:text-white" href="#">
                            <icon name="facebook"/>
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a class="text-sm text-whiteless hover:text-white" href="#">
                            <icon name="twitter"/>
                            Twitter
                        </a>
                    </li>
                    <li>
                        <a class="text-sm text-whiteless hover:text-white" href="#">
                            <icon name="instagram"/>
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a class="text-sm text-whiteless hover:text-white" href="#">
                            <icon name="youtube"/>
                            Youtube
                        </a>
                    </li>
                </ul>
            </nav>
            <nav class="account-nav">
                <h2 class="text-xl font-bold leading-normal mt-4 lg:mt-0 mb-2 text-white">Compte</h2>
                <ul>
                    <li cv-if="!this.connected">
                        <router_link href="signup" class="text-sm text-whiteless hover:text-white">Céer un compte</router_link>
                    </li>
                    <li cv-if="!this.connected">
                        <router_link href="signin" class="text-sm text-whiteless hover:text-white">Se connecter</router_link>
                    </li>
                    <li cv-if="this.connected">
                        <router_link href="lists" class="text-sm text-whiteless hover:text-white">Mes lists</router_link>
                    </li>
                    <li cv-if="this.connected">
                        <router_link href="account" class="text-sm text-whiteless hover:text-white">Se Paramètre du compte</router_link>
                    </li>
                </ul>
            </nav>
        </div>
        <hr class="my-6">
        <div class="bot">
            <small class="text-whiteless">&copy; CMStream 2023</small>
        </div>
    </div>
</footer>

<script>
    export default {
        data: {
            connected: true,
        },
    }
</script>

<style>

</style>