<header class="fixed z-10 w-full h-[60px] px-7 lg:px-14 flex justify-between bg-darkblue shadow-[0_5px_8px_10px_rgba(0,0,0,0.1)] select-none">
    <div class="flex items-center justify-center gap-[30px] left">
        <router_link 
        href="/" 
        class="h-full w-[100px] h-[20px] flex items-center logo overflow-hidden"
        >
            <img 
            src="/public/img/icons/logo.png" 
            alt="CMStream logo"
            class="w-full"
            >
        </router_link>

        <nav class="h-full hidden lg:block">
            <ul class="h-full flex items-center justify-center gap-[30px]">
                <li class="h-full">
                    <router_link href="/" class="h-full px-[10px] flex items-center text-sm text-whiteless hover:text-white hover:bg-blackless" @click="this.displayOptionsMenu = false">
                        Accueil
                    </router_link>
                </li>

                <li class="h-full">
                    <router_link href="/catalog" class="h-full px-[10px] flex items-center text-sm text-whiteless hover:text-white hover:bg-blackless" @click="this.displayOptionsMenu = false">
                        Catalogue
                    </router_link>
                </li>

                <li
                cv-for="page of this.pagesFilter"
                class="h-full"
                >
                    <router_link :href="'/pages/' + this.page.name" class="h-full px-[10px] flex items-center text-sm text-whiteless hover:text-white hover:bg-blackless" @click="this.displayOptionsMenu = false">
                        {{this.page.name}}
                    </router_link>
                </li>
            </ul>
        </nav>
    </div>

    <div class="flex items-center justify-center gap-[40px] right">
        <nav class="h-full hidden lg:block">
            <ul class="h-full flex items-center justify-center gap-[30px]">
                <li class="h-full">
                    <router_link href="#" class="h-full px-[10px] flex items-center text-sm text-whiteless hover:text-white hover:bg-blackless" @click="this.displayOptionsMenu = false">
                        <icon name="magnify" class="text-[24px]"/>
                    </router_link>
                </li>

                <li class="h-full">
                    <router_link href="/lists" class="h-full px-[10px] flex items-center text-sm text-whiteless hover:text-white hover:bg-blackless" @click="this.displayOptionsMenu = false">
                        <icon name="bookmark-outline" class="text-[24px]"/>
                    </router_link>
                </li>

                <li class="relative h-full">
                    <div class="relative h-full">
                        <div
                        class="h-full px-[10px] flex items-center text-sm text-whiteless cursor-pointer hover:text-white hover:bg-blackless" 
                        cv-class="{ 'bg-blackless': this.displayOptionsMenu }" 
                        @click="this.displayOptionsMenu = !this.displayOptionsMenu"
                        cv-ref="buttonOptionsMenu"
                        >
                            <icon cv-if="!this.isConnected" name="account-circle" class="text-[24px]"/>

                            <user-image cv-if="this.isConnected" size="24"/>

                            <icon name="triangle-small-down" cv-class="{ 'rotate-180 text-white': this.displayOptionsMenu }"/>
                        </div>

                        <div 
                        cv-if="this.displayOptionsMenu" 
                        class="absolute top-[60px] right-0 w-[280px] bg-blackless account-options"
                        cv-ref="optionsMenu"
                        >
                            <div cv-if="!this.isConnected" class="py-4 flex flex-col gap-4">
                                <router_link href="/signup" class="px-4 py-2 flex flex-col text-whiteless hover:bg-darkblue signup" @click="this.displayOptionsMenu = false">
                                    <span class="text-xl font-semibold">Créer un compte</span>

                                    <p class="text-sm">Inscrivez-vous gratuitement.</p>
                                </router_link>
                                <router_link href="/signin" class="px-4 py-2 flex flex-col text-whiteless hover:bg-darkblue signin" @click="this.displayOptionsMenu = false">
                                    <span class="text-xl font-semibold">Se connecter</span>

                                    <p class="text-sm">Déjà inscrit ? Bon retour.</p>
                                </router_link>
                            </div>

                            <div cv-if="this.isConnected" class="py-4 flex flex-col gap-4">
                                <div class="options">
                                    <router_link cv-if="this.hasPermission('access_dashboard') && this.hasPermission('stats_viewer')" href="/dashboard" class="px-4 py-2 flex gap-[10px] items-center text-whiteless hover:text-white hover:bg-darkblue hover:cursor-pointer admin">
                                        <icon name="security" class="text-[24px]"/>

                                        <span>Accéder au dashboard</span>
                                    </router_link>
                                    <div class="px-4 py-2 flex gap-[10px] items-center text-whiteless hover:text-white hover:bg-darkblue hover:cursor-pointer notifications">
                                        <icon name="bell-outline" class="text-[24px]"/>
                                        <span>Notifications</span>
                                    </div>
                                    <router_link href="/account" class="px-4 py-2 flex gap-[10px] items-center text-whiteless hover:text-white hover:bg-darkblue account" @click="this.displayOptionsMenu = false">
                                        <icon name="account" class="text-[24px]"/>

                                        <span>Paramètres du compte</span>
                                    </router_link>
                                </div>

                                <div class="h-[2px] bg-darkblue separator"></div>

                                <div 
                                class="p-4 flex gap-[10px] items-center text-whiteless hover:text-white hover:bg-darkblue hover:cursor-pointer disconnect" 
                                @click="this.displayOptionsMenu = false; this.toDisconnect()"
                                >
                                    <icon name="logout" class="text-[24px]"/>

                                    <span>Se déconnecter</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <div 
        class="block lg:hidden burger-button" 
        @click="this.displayNaveBar = !this.displayNaveBar"
        cv-class="{
            'active': this.displayNaveBar
        }"
        cv-ref="burgerButton"
        >
            <div class="burger-line"></div>
        </div>

    </div>
    <div 
    class="z-5 menu-wrapper"
    cv-class="{
        'active': this.displayNaveBar
    }"
    cv-ref="menuWrapper"
    >
        <nav>
            <ul>
                <li>
                    <router_link href="/catalog" class="w-full px-6 py-4 flex text-sm text-whiteless hover:text-white hover:bg-blackless" @click="this.displayNaveBar = false">
                        Catalogue
                    </router_link>
                </li>
                <li>
                    <a class="w-full px-6 py-4 flex text-sm text-whiteless hover:text-white hover:bg-blackless" href="#" @click="this.displayNaveBar = false">
                        Boutique
                    </a>
                </li>
                <li>
                    <a class="w-full px-6 py-4 flex text-sm text-whiteless hover:text-white hover:bg-blackless" href="#" @click="this.displayNaveBar = false">
                        News
                    </a>
                </li>
            </ul>
        </nav>
        <div class="h-[2px] my-4 bg-grey"></div>
        <nav>
            <ul>
                <li>
                    <a class="w-full px-6 py-4 flex text-sm text-whiteless hover:text-white hover:bg-blackless" href="#" @click="this.displayNaveBar = false">
                        Rechercher
                    </a>
                </li>
                <li>
                    <a class="w-full px-6 py-4 flex text-sm text-whiteless hover:text-white hover:bg-blackless" href="#" @click="this.displayNaveBar = false">
                        Watchlist
                    </a>
                </li>
                <li>
                    <a class="w-full px-6 py-4 flex text-sm text-whiteless hover:text-white hover:bg-blackless" href="#" @click="this.displayNaveBar = false">
                        Notifications
                    </a>
                </li>
                <li cv-if="this.isConnected">
                    <router_link href="/account" class="w-full px-6 py-4 flex text-sm text-whiteless hover:text-white hover:bg-blackless" @click="this.displayNaveBar = false">
                        Paramètres du compte
                    </router_link>
                </li>
                <li cv-if="!this.isConnected">
                    <router_link href="/signup" class="w-full px-6 py-4 flex text-sm text-whiteless hover:text-white hover:bg-blackless" @click="this.displayNaveBar = false">
                        Créer un compte
                    </router_link>
                </li>
                <li cv-if="!this.isConnected">
                    <router_link href="/signin" class="w-full px-6 py-4 flex text-sm text-whiteless hover:text-white hover:bg-blackless" @click="this.displayNaveBar = false">
                        Se connecter
                    </router_link>
                </li>
                <li cv-if="this.isConnected">
                    <router_link href="/signin" class="w-full px-6 py-4 flex text-sm text-whiteless hover:text-white hover:bg-blackless" @click="this.displayNaveBar = false; this.toDisconnect()">
                        Se déconnecter
                    </router_link>
                </li>
            </ul>
        </nav>
        
    </div>
</header>

<script>
    const [impLoader, user_image] = await Promise.all([
        import("/public/cuteVue/stores/loader.js"),
        importer('/public/cuteVue/components/account/user-image.html'),
    ]);

    const loaderStore = impLoader.loaderStore;

    export default {
        components: {
            "user-image": user_image,
        },

        data: {
            displayOptionsMenu: false,
            displayNaveBar: false,
        },

        props: {},

        methods: {
            resized(){
                if(window.innerWidth > 1024) this.displayOptionsMenu = false;
                else this.displayNaveBar = false;
            },
            autoClose(e){
                if(this.displayOptionsMenu === true){
                    let rectButtonOptionsMenu = this.$refs.buttonOptionsMenu.getBoundingClientRect();
                    let rectOptionsMenu = this.$refs.optionsMenu.getBoundingClientRect();

                    if(
                        (
                            e.clientX > rectButtonOptionsMenu.right ||
                            e.clientX < rectButtonOptionsMenu.left ||
                            e.clientY > rectButtonOptionsMenu.bottom ||
                            e.clientY < rectButtonOptionsMenu.top
                        ) &&
                        (
                            e.clientX > rectOptionsMenu.right ||
                            e.clientX < rectOptionsMenu.left ||
                            e.clientY > rectOptionsMenu.bottom ||
                            e.clientY < rectOptionsMenu.top
                        )
                    ) this.displayOptionsMenu = false;
                }

                if(this.displayNaveBar === true){
                    let rectBurgerButton = this.$refs.burgerButton.getBoundingClientRect();
                    let rectMenuWrapper = this.$refs.menuWrapper.getBoundingClientRect();

                    if(
                        (
                            e.clientX > rectBurgerButton.right ||
                            e.clientX < rectBurgerButton.left ||
                            e.clientY > rectBurgerButton.bottom ||
                            e.clientY < rectBurgerButton.top
                        ) &&
                        (
                            e.clientX > rectMenuWrapper.right ||
                            e.clientX < rectMenuWrapper.left ||
                            e.clientY > rectMenuWrapper.bottom ||
                            e.clientY < rectMenuWrapper.top
                        )
                    ) this.displayNaveBar = false;
                }
            },
            async toDisconnect(){
                let close = loaderStore.push();

                await this.disconnect();
                router.push("/");

                close();
            }
        },

        mounted() {
            window.addEventListener("resize", this.resized);
            window.addEventListener("click", this.autoClose);
        },

        unmounted() {
            window.removeEventListener("resize", this.resized);
            window.removeEventListener("click", this.autoClose);
        },

        stores: [
            {
                name: "user",
                states: ["isConnected", "role", "username", "permissions"],
                actions: ["disconnect", "hasPermission"]
            },
            {
                name: "pages",
                computed: ["pagesFilter"],
            }
        ]
    }
</script>

<style>
    .burger-button {
        position: relative;
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: 0.4s;
    }

    .burger-button .burger-line,
    .burger-button .burger-line::before,
    .burger-button .burger-line::after {
        position: absolute;
        width: 40px;
        height: 4px;
        background-color: #ffffff;
        transition: 0.4s;
    }

    .burger-button .burger-line {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .burger-button .burger-line::before {
        content: "";
        top: -12px;
    }

    .burger-button .burger-line::after {
        content: "";
        top: 12px;
    }

    .burger-button.active .burger-line {
        background: transparent;
    }

    .burger-button.active .burger-line::before {
        top: 0;
        transform: rotate(45deg);
    }

    .burger-button.active .burger-line::after {
        top: 0;
        transform: rotate(-45deg);
    } 

    .menu-wrapper {
        position: fixed;
        right: -250px; 
        width: 250px;
        height: calc(100vh - 60px);
        margin-top: 60px;
        display: block;
        background-color: #23252B;
        transition: 0.5s;
    }

    .menu-wrapper.active {
        right: 0;
        box-shadow: -5px 0 0 0 rgba(0, 0, 0, 0.1);
        transition: 0.5s;
    }
</style>