<div class="w-full p-[30px] flex flex-col gap-[10px] overflow-hidden">
    <h2 
    cv-if="this.content.title"
    class="w-full max-w-[1200px] mx-auto mb-[10px] pb-[10px] text-lg font-bold border-b-[4px] border-skyblue"
    >
        {{this.content.title}}
    </h2>

    <div class="grow w-full max-w-[1200px] mx-auto overflow-hidden">
        <slider
        cv-if="this.content.component === 'slider'"
        :options="this.content.options"
        />

        <cards
        cv-if="this.content.component === 'cards'"
        :options="this.content.options"
        />

        <topper
        cv-if="this.content.component === 'topper'"
        :options="this.content.options"
        />
    </div>

    <i cv-if="this.content.subtitle">
        {{this.content.subtitle}}
    </i>
</div>

<script>
    const [slider, cards, topper] = await Promise.all([
        importer('/public/cuteVue/components/slider.html'),
        importer('/public/cuteVue/components/cards/cards.html'),
        importer('/public/cuteVue/components/topper.html')
    ]);

    export default {
        components: {
            slider,
            cards,
            topper,
        },
        props: {
            content: null
        }
    }
</script>

<style>

</style>