<select class="select">
    <option cv-for="option of this.options" :value="this.option.value">{{ this.option.text }}</option>
</select>

<script>
    export default {
        props: {
            options: []
        },
        data: {
        },
        methods: {
        },
        mounted(){
        }
    }
</script>

<style>
    select {
        /* Reset Select */
        appearance: none;
        outline: 0;
        border: 0;
        box-shadow: none;
        /* Personalize */
        padding: 20px 10px;
        color: #fff;
        background-color: #23252b;
        background-image: none;
        cursor: pointer;
    }

    /* Remove IE arrow */
    select::-ms-expand {
        display: none;
    }

    /* Custom Select wrapper */
    .select {
        position: relative;
        display: flex;
        width: 200px;
        border-radius: .25em;
        overflow: hidden;
    }

    /* Arrow */
    /* .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 1em;
        background-color: #34495e;
        transition: .25s all ease;
        pointer-events: none;
    } */

    /* Transition */
    select:hover::after {
        color: #f39c12;
    }
</style>