<div class="relative w-full h-[500px] flex flex-col items-center">
    <h2 cv-if="this.options.title" class="mb-[20px] self-start text-2xl font-bold">{{ this.options.title }}</h2>

    <div class="relative w-full h-full overflow-hidden flex items-center wrapper">
        <div class="absolute z-10 top-2/4 left-0 p-[16px] translate-y-[-50%] text-[20px] text-skyblue bg-white hover:bg-[#DADADA] shadow-lg cursor-pointer duration-500 prev-btn" @click="this.currentSlide--">
            <icon name="chevron-left"/>
        </div>
        
        <div
        class="relative w-full h-full slides-container" 
        cv-style="{'transform': `translateX(-${this.slideWidth * this.currentSlide}px)`}"
        >
            <router_link 
            cv-ref="slides" 
            class="absolute w-full h-full slide" 
            cv-for="content of Object.entries(this.contents)" 
            cv-class="{'active': this.content[0] == this.currentSlide}"
            :test="this.currentSlide + ':' + this.content[0]"
            cv-style="{'left': this.content[0] * 100 + '%'}"
            :href="(this.content[1].type === 'M' ? '/movie/' : '/serie/')  + this.content[1].value.id"
            >
                <img class="w-full h-full object-cover pointer-events-none" :src="this.content[1].value.image">

                <div class="absolute bottom-[50px] left-[25px] w-[calc(100%-50px)] sm:w-[42%] max-h-[160px] px-[10px] py-[5px] flex flex-col gap-[10px] overflow-hidden bg-[rgba(0,0,0,0.5)] content">
                    <h2 class="w-full text-2xl sm:text-4xl whitespace-nowrap text-ellipsis overflow-hidden" :title="this.content[1].value.title">{{ this.content[1].value.title }}</h2>
    
                    <p class="w-full text-ellipsis overflow-hidden description">{{ this.content[1].value.description || "" }}</p>

                    <div class="flex gap-[5px] categories">
                        <span
                        class="inline-block mt-[5px] px-[6px] py-[3px] text-xs rounded-full"
                        cv-class="{
                            'bg-orange-500': this.content[1].type === 'S',
                            'bg-red-500': this.content[1].type === 'M'
                        }"
                        >
                            {{ this.content[1].type === 'S' ? 'Série' : 'Film' }}
                        </span>
    
                        <span class="inline-block mt-[5px] px-[6px] py-[3px] text-xs rounded-full bg-skyblue">{{ this.content[1].category.title }}</span>
                    </div>
                </div>
            </router_link>
        </div>

        <div class="absolute z-10 top-2/4 right-0 p-[16px] translate-y-[-50%] text-[20px] text-skyblue bg-white hover:bg-[#DADADA] shadow-lg cursor-pointer duration-500 next-btn" @click="this.currentSlide++">
            <icon name="chevron-right"/>
        </div>
    </div>
    
    <div class="absolute bottom-[5px] h-[32px] flex items-center justify-center navigation-dots">
        <div 
        cv-for="key of Object.keys(this.contents)" 
        @click="this.currentSlide = this.key"
        class="w-[16px] h-[16px] mx-[8px] rounded-full border-2 border-black cursor-pointer shadow-lg duration-500 single-dot"
        cv-class="{'bg-white': this.key == this.currentSlide}"
        />
    </div>
</div>

<script>
    const [impTaob] = await Promise.all([
        import("/public/cuteVue/taob.js")
    ]);

    const taob = impTaob.default;

    export default {
        props: {
            options: null,
        },
        data: {
            slideWidth: 0,
            currentSlide: 0,
            switchDelay: 10000,
            interval: null,
            contents: [],
        },

        watch: {
            async currentSlide(n){
                this.updateWidth();
                if(n === -1) this.currentSlide = this.contents.length-1;
                else if(n === this.contents.length) this.currentSlide = 0;
            } 
        },

        methods: {
            init(){
                taob.get(this.options.url, {query: this.options.query}).s(data => this.contents = data);
            },
            updateWidth(){
                this.slideWidth = this.$refs.slides?.[0]?.clientWidth || 0;
            },
        },

        mounted(){
            this.interval = setInterval(() => {
                this.currentSlide++;
            }, this.switchDelay);

            window.addEventListener("resize", this.updateWidth);

            this.init();
        },

        unmounted(){
            clearInterval(this.interval);
            window.removeEventListener("resize", this.updateWidth);
        },
    }
</script>

<style>
    .slides-container {
        transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1)
    }

    .description {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
</style>