<div>
    <h2 cv-if="this.options.title" class="mb-[20px] self-start text-2xl font-bold">{{ this.options.title }}</h2>

    <div 
    class="relative h-[500px] text-[white]"
    @mouseover="this.hover = true"
    @mouseleave="this.hover = false"
    cv-ref="div"
    >
        <div
        cv-for="video of Object.entries(this.videos)"
        class="absolute top-0 left-0 w-full h-full transition duration-[1s]"
        cv-class="{
            'opacity-1': this.video[0] == this.index,
            'opacity-0': this.video[0] != this.index,
            'z-[1]': this.video[0] == this.index,
        }"
        >
            <img 
            class="absolute top-2/4 left-0 w-full h-full object-cover pointer-events-none -translate-y-[50%]"
            :src="this.video[1].value.image"
            />

            <div class="absolute top-[20px] left-[20px] w-[calc(100%-40px)] sm:w-2/3 max-h-[280px] px-[10px] py-[5px] flex flex-col items-center sm:items-start gap-0 sm:gap-[10px] bg-[rgba(0,0,0,0.5)] content">
                <div class="w-full p-[10px] flex flex-col items-start gap-[10px] top">
                    <h2 class="w-full text-2xl sm:text-4xl whitespace-nowrap text-ellipsis overflow-hidden">{{ this.video[1].value.title }}</h2>

                    <p class="w-full max-h-[70px] description">{{ this.video[1].value.description || "" }}</p>
                </div>

                <div class="p-[10px] flex flex-col sm:flex-raw items-center gap-[10px] sm:gap-[30px] bot">
                    <router_link 
                    :href="(this.video[1].type === 'M' ? '/movie/' : '/serie/')  + this.video[1].value.id" 
                    class="px-[10px] scale-75 sm:scale-100 flex items-center gap-[5px] cursor-pointer hover:text-skyblue transition"
                    >
                        <icon name="play-circle-outline" size="60"/>

                        <span>Regarder</span>
                    </router_link>

                    <div class="flex items-center gap-[10px] sm:gap-[30px] infos">
                        <div class="flex gap-[5px] categories">
                            <span
                            class="inline-block mt-[5px] px-[6px] py-[3px] text-xs rounded-full"
                            cv-class="{
                                'bg-orange-500': this.video[1].type === 'S',
                                'bg-red-500': this.video[1].type === 'M'
                            }"
                            >
                                {{ this.video[1].type === 'S' ? 'Série' : 'Film' }}
                            </span>
    
                            <span class="inline-block mt-[5px] px-[6px] py-[3px] text-xs rounded-full bg-skyblue">{{ this.video[1].category.title }}</span>
                        </div>
    
                        <div class="flex gap-[15px] rate select-none">
                            <div class="flex items-center gap-[5px] like">
                                {{ this.video[1].up_vote }}
        
                                <icon name="thumb-up" />
                            </div>
        
                            <div class="flex items-center gap-[5px] dislike">
                                {{ this.video[1].down_vote }}
        
                                <icon name="thumb-down" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div 
        class="absolute bottom-0 h-[200px] p-[20px] flex gap-[40px] transition z-[2] duration-[1s]"
        cv-style="{'transform': `translateX(-${this.xpos}px)`}"
        cv-ref="videos"
        >
            <div 
            cv-for="video of Object.entries(this.videos)"
            class="relative h-full aspect-video scale-75 sm:scale-100 shrink-0 overflow-hidden cursor-pointer shadow-[0px_0px_20px_rgba(0,0,0,0.5)] transition duration-[0.5s] hover:shadow-[0px_0px_30px_rgba(0,0,0,0.75)] sm:hover:scale-[1.02]"
            @click="this.index = this.video[0]"
            >
                <img
                class="w-full h-full object-cover pointer-events-none"
                :src="this.video[1].value.image" 
                alt=""
                />

                <p class="absolute bottom-[10px] left-[10px] px-[8px] py-[4px] bg-[rgba(0,0,0,0.5)]">
                    {{ this.video[1].value.title }}
                </p>
            </div>
        </div>

        <icon
        name="chevron-left"
        size="50"
        @click="left"
        class="absolute left-0 bottom-[100px] cursor-pointer translate-y-[50%] transition z-[2]"
        cv-class="{
            '-translate-x-[100%]': this.hover === false
        }"
        />

        <icon 
        name="chevron-right"
        size="50"
        @click="right"
        class="absolute right-0 bottom-[100px] cursor-pointer translate-y-[50%] transition z-[2]"
        cv-class="{
            'translate-x-[100%]': this.hover === false
        }"
        />
    </div>
</div>

<script>
    const [impTaob] = await Promise.all([
        import("/public/cuteVue/taob.js")
    ]);

    const taob = impTaob.default;

    export default {
        props: {
            options: null,
        },
        data: {
            index: 0,
            hover: false,
            xpos: 0,
            videos: [],
        },
        methods: {
            init(){
                taob.get(this.options.url, {query: this.options.query}).s(data => this.videos = data);
            },
            right(){
                let width = this.$refs.videos.getBoundingClientRect().width;
                let widthDiv = this.$refs.div.getBoundingClientRect().width;
                if(this.xpos + widthDiv + 600 > width) this.xpos = width - widthDiv;
                else this.xpos += 400;
            },
            left(){
                if(this.xpos - 600 < 0)this.xpos = 0;
                else this.xpos -= 400;
            },
            onResize(){
                this.hover = window.innerWidth < 640;
            }
        },
        mounted(){
            this.init();
            this.onResize();
            window.addEventListener("resize", this.onResize);
        },
    }
</script>

<style>
    .description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
</style>