<div class="absolute top-0 left-0 w-[calc(100vw-250px)] h-[calc(100vh-100px)] ml-[250px] mt-[100px] flex justify-center items-center bg-[rgba(0,0,0,0.5)] overlay"
     cv-class="{ 'invisible': !this.show }"
>
    <div class="relative w-[400px] h-[380px] px-[48px] py-[24px] flex flex-col justify-center items-center gap-[30px] bg-white rounded-xl popup">
        <cv-form
                @submit="submit"
                class="w-[500px] h-[300px]"
        >
            <div class="flex flex-col items-center">
                <div class="flex flex-col items-start m-[5px]">
                    <label>Nom</label>
                    <input class="focus:outline-none border rounded-[8px] px-[20px] py-[10px]" type="text" placeholder="Nom">
                </div>
                <div class="flex flex-col items-start m-[5px]">
                    <label>Prénom</label>
                    <input class="focus:outline-none border rounded-[8px] px-[20px] py-[10px]" type="text" placeholder="Prénom">
                </div>
                <div class="flex flex-col items-start m-[5px]">
                    <label>Pseudo</label>
                    <input class="focus:outline-none border rounded-[8px] px-[20px] py-[10px]" type="text" placeholder="Pseudo">
                </div>
                <div class="mt-[30px] text-center submit text-white">
                    <button
                            type="submit"
                            class="px-[20px] py-[10px] rounded bg-skyblue"
                    >
                        Modifier
                    </button>
                </div>
            </div>
        </cv-form>
    </div>
</div>

<script>
    export default {
        props: {
            show: false
        },
        methods: {
            closeModal() {
                this.show = false;
            },
            deleteUser() {
                // delete user
                this.closeModal();
            }
        },
        mounted() {

        }
    }
</script>

<style>

</style>