<aside class="w-[250px] h-[100vh] flex flex-col justify-between bg-adminblack fixed">
    <div class="top">
        <div class="h-[130px] flex justify-center items-center logo">
            <router_link href="/dashboard">
                <span class="text-5xl font-semibold text-white">Admin</span>
            </router_link>
        </div>

        <nav class="navbar">
            <ul>
                <li class="text-whiteless hover:text-white hover:bg-adminblacker" cv-class="{
                        'border-l-4 border-white-500': this.pathname === '/admin'
                    }">
                    <router_link href="/dashboard" class="px-[24px] py-[18px] flex items-center gap-[24px] cursor-pointer">
                        <icon name="view-dashboard" class="text-[18px]" />
                        Dashboard
                    </router_link>
                </li>

                <li class="text-whiteless hover:text-white hover:bg-adminblacker" cv-class="{
                        'border-l-4 border-white-500': this.pathname === '/dashboard/users'
                    }">
                    <router_link cv-if="this.hasPermission('user_editor')" href="/dashboard/users"
                        class="px-[24px] py-[18px] flex items-center gap-[24px] cursor-pointer">
                        <icon name="account-group" class="text-[18px]" />
                        Liste des utilisateurs
                    </router_link>
                </li>

                <li class="text-whiteless hover:text-white hover:bg-adminblacker" cv-class="{
                        'border-l-4 border-white-500': this.pathname === '/dashboard/roles'
                }">
                    <router_link cv-if="this.hasPermission('role_editor')" href="/dashboard/roles"
                        class="px-[24px] py-[18px] flex items-center gap-[24px] cursor-pointer">
                        <icon name="card-account-details" class="text-[18px]" />
                        Liste des rôles
                    </router_link>
                </li>

                <li class="text-whiteless hover:text-white hover:bg-adminblacker" cv-class="{
                    'border-l-4 border-white-500': this.pathname === '/dashboard/comments'
                }">
                    <router_link cv-if="this.hasPermission('comments_manager')" href="/dashboard/comments"
                        class="px-[24px] py-[18px] flex items-center gap-[24px] cursor-pointer">
                        <icon name="forum"/>
                        Gérer les commentaires
                    </router_link>
                </li>

                <li class="text-whiteless" cv-if="this.hasPermission('contents_manager')">
                    <button
                        class="px-[24px] py-[18px] flex items-center gap-[24px] w-full hover:text-white hover:bg-adminblacker cursor-pointer"
                        cv-class="{ 'bg-adminblacker': this.dropdownContentManager }"
                        @click="toggleDropdownContentManager">
                        <icon name="content-copy" class="text-[18px]" />
                        Gérer contenu

                        <icon name="chevron-down" class="text-[18px]"
                            cv-class="{ 'rotate-180': this.dropdownContentManager }" />
                    </button>

                    <ul cv-if="this.dropdownContentManager === true">
                        <li class="text-whiteless hover:text-white hover:bg-adminblacker" cv-class="{
                            'border-l-4 border-white-500': this.pathname === '/dashboard/categories'
                        }">
                            <router_link href="/dashboard/categories"
                                class="px-[24px] py-[18px] ml-[20px] flex items-center gap-[24px] cursor-pointer">
                                <icon name="shape" class="text-[18px]" />
                                Gérer catégories
                            </router_link>
                        </li>

                        <li class="text-whiteless hover:text-white hover:bg-adminblacker" cv-class="{
                            'border-l-4 border-white-500': this.pathname === '/dashboard/series'
                        }">
                            <router_link href="/dashboard/series"
                                class="px-[24px] py-[18px] ml-[20px] flex items-center gap-[24px] cursor-pointer">
                                <icon name="movie-open" class="text-[18px]" />
                                Gérer séries
                            </router_link>
                        </li>

                        <li class="text-whiteless hover:text-white hover:bg-adminblacker" cv-class="{
                            'border-l-4 border-white-500': this.pathname === '/dashboard/movies'
                        }">
                            <router_link href="/dashboard/movies"
                                class="px-[24px] py-[18px] ml-[20px] flex items-center gap-[24px] cursor-pointer">
                                <icon name="filmstrip" class="text-[18px]" />
                                Gérer films
                            </router_link>
                        </li>
                    </ul>
                </li>
                <li class="text-whiteless" cv-if="this.hasPermission('config_editor')">
                    <button
                        class="px-[24px] py-[18px] flex items-center gap-[24px] w-full hover:text-white hover:bg-adminblacker cursor-pointer"
                        cv-class="{ 'bg-adminblacker': this.dropdownConfigManager }"
                        @click="toggleDropdownConfigManager">
                        <icon name="cog" class="text-[18px]" />
                        Gérer config

                        <icon name="chevron-down" class="text-[18px]"
                            cv-class="{ 'rotate-180': this.dropdownConfigManager }" />
                    </button>

                    <ul cv-if="this.dropdownConfigManager === true">
                        <li class="text-whiteless hover:text-white hover:bg-adminblacker" cv-class="{
                            'border-l-4 border-white-500': this.pathname === '/dashboard/config-app'
                        }">
                            <router_link href="/dashboard/config-app"
                                class="px-[24px] py-[18px] ml-[20px] flex items-center gap-[24px] cursor-pointer">
                                <icon name="application-cog" class="text-[18px]" />
                                Config App
                            </router_link>
                        </li>

                        <li class="text-whiteless hover:text-white hover:bg-adminblacker" cv-class="{
                                'border-l-4 border-white-500': this.pathname === '/dashboard/config-mail'
                            }">
                            <router_link href="/dashboard/config-mail"
                                class="px-[24px] py-[18px] ml-[20px] flex items-center gap-[24px] cursor-pointer">
                                <icon name="mailbox" class="text-[18px]" />
                                Config Mail
                            </router_link>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div class="text-whiteless hover:text-white hover:bg-adminblacker bot">
        <router_link href="/" class="px-[24px] py-[18px] flex items-center gap-[24px] cursor-pointer">
            <icon name="logout" class="text-[18px]" />
            Revenir sur le site
        </router_link>
    </div>
</aside>

<script>
    export default {
        data: {
            dropdownContentManager: false,
            dropdownConfigManager: false
        },
        watch: {
            pathname() {
                this.setDropdownContentManager();
                this.setDropdownConfigManager();
            }
        },
        methods: {
            setDropdownContentManager() {
                if (this.pathname === "/dashboard/categories" || this.pathname === "/dashboard/movies" || this.pathname === "/dashboard/series") {
                    this.dropdownContentManager = true
                } else {
                    this.dropdownContentManager = false
                }
            },
            toggleDropdownContentManager() {
                this.dropdownContentManager = !this.dropdownContentManager
            },
            toggleDropdownConfigManager() {
                this.dropdownConfigManager = !this.dropdownConfigManager
            },
            setDropdownConfigManager() {
                if (this.pathname === "/dashboard/config-app" || this.pathname === "/dashboard/config-mail") {
                    this.dropdownConfigManager = true
                } else {
                    this.dropdownConfigManager = false
                }
            }
        },
        mounted() {
            this.setDropdownConfigManager();
            this.setDropdownContentManager();
            this.dropdownConfigManager = false;
        },
        stores: [
            {
                name: "router",
                states: ["pathname"]
            },
            {
                name: "user",
                actions: ["hasPermission"]
            }
        ]
    }
</script>

<style>

</style>