/* GLOBAL */
:root {
    --black: #000,
    --blackless: #141519,
    --darkblue: #23252B,
    --skyblue: #5499C7,
    --grey: #A0A0A0,
    --whiteless: #DADADA,
    --white: #FFF,
}


/* BURGER MENU */

.burger-button {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: 0.4s;
}

.burger-button .burger-line,
.burger-button .burger-line::before,
.burger-button .burger-line::after {
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    transition: 0.4s;
}

.burger-button .burger-line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-button .burger-line::before {
    content: "";
    top: -12px;
}

.burger-button .burger-line::after {
    content: "";
    top: 12px;
}

.burger-button.active .burger-line {
    background: transparent;
}

.burger-button.active .burger-line::before {
    top: 0;
    transform: rotate(45deg);
}

.burger-button.active .burger-line::after {
    top: 0;
    transform: rotate(-45deg);
} 

.menu-wrapper {
    position: fixed;
    right: -250px; 
    width: 250px;
    height: calc(100vh - 60px);
    margin-top: 60px;
    display: block;
    background-color: #23252B;
    transition: 0.5s;
}

.menu-wrapper.active {
    right: 0;
    box-shadow: -5px 0 0 0 rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}