<div class="max-w-[1164px] h-[calc(100vh-100px)] pt-[20px] mx-auto px-7 lg:px-14 content">
    <cv-form
    @submit="addContent"
    >
    <div class="flex flex-col items-start m-[5px]">
        <label>Type de contenu</label>

        <select-input 
        class="w-full max-w-[300px]" :items="this.contentType" :return-value="v => v.value"
        :return-text="t => t.text" cv-model="currentType"
        />
    </div>
        <div class="mt-[30px] flex flex-col gap-[20px] movie-inputs">
            <div class="w-full flex gap-[20px] inputs-group">
                <div class="w-full flex flex-col items-start m-[5px]">
                    <label>Titre</label>

                    <text-input
                    type="text"
                    :placeholder="`Titre ${this.currentType === 'serie' ? 'de la série' : 'du film'}`"
                    cv-model="formTitle"
                    :rules="this.titleRule"
                    class="w-full"
                    />
                </div>

                <div class="w-full flex flex-col items-start m-[5px]">
                    <label>Miniature</label>

                    <text-input
                    type="text"
                    :placeholder="`Mignature ${this.currentType === 'serie' ? 'de la série' : 'du film'}`"
                    cv-model="formImage"
                    :rules="this.imageRules"
                    class="w-full"
                    />

                    <img
                    cv-if="this.formImage"
                    class="aspect-video mt-[10px]" 
                    id="imagePreview" 
                    :src="this.formImage" 
                    alt="Image Preview"
                    >
                </div>
            </div>

            <div class="w-full flex flex-col items-start m-[5px]">
                <label>Description</label>

                <textarea
                rows="4"
                class="w-full border-[2px] p-[5px] focus:outline-none focus:border-skyblue"
                cv-model="formDescription"
                :placeholder="`Description ${this.currentType === 'serie' ? 'de la série' : 'du film'}`"
                />
            </div>

            <div class="w-full flex flex-col items-start m-[5px]">
                <label>Date de sortie</label>

                <text-input
                type="date"
                :placeholder="`Date sortie ${this.currentType === 'serie' ? 'de la série' : 'du film'}`"
                cv-model="formReleaseDate"
                :rules="this.releaseDateRule"
                />
            </div>

            <div class="flex flex-col items-start m-[5px]">
                <label>Catégorie</label>

                <div class="flex gap-[5px]">
                    <search-input
                    :filter="false"
                    :items="this.categories"
                    @search="searchCategory"
                    placeholder="Rechercher"
                    :rules="this.categoryRule"
                    :return-text="v => v.title"
                    cv-model="formCategory"
                    />

                    <!-- TO DO: fix category refresh when new one added -->
                    <!-- <button cv-if="this.categories.length === 0" type="button" @click="addCategory">
                        <icon name="plus-circle" class="text-[24px] text-skyblue hover:text-[#1da1f2]" />
                    </button> -->
                </div>
            </div>
        </div>

        <div class="mt-[30px] text-center submit text-white">
            <button
            type="submit"
            class="px-[20px] py-[10px] rounded bg-skyblue"
            >
                Ajouter
            </button>
        </div>
    </cv-form>
</div>
<script>
    const [impLoader, impTaob] = await Promise.all([
        import("/public/cuteVue/stores/loader.js"),
        import("/public/cuteVue/taob.js")
    ]);
    const loaderStore = impLoader.loaderStore;
    const taob = impTaob.default;

    export default {
        data: {
            categories: [],
            contentType: [
                {
                    text: "Série",
                    value: "serie"
                },
                {
                    text: "Film",
                    value: "movie"
                }
            ],
            currentType: "serie",
            formTitle: "",
            formImage: "",
            formDescription: "",
            formCategory: null,
            formReleaseDate: ""
        },
        static: {
            titleRule: [
                (value) => !!value || "Ce champs est obligatoire.",
                (value) => value.length < 100 || "Ce champs doit contenir moins de 100 caractères.",
            ],
            imageRules: [
                (value) => !!value || "Ce champs est obligatoire.",
                (value) => /^(ftp|http|https):\/\/[^ "]+$/.test(value) || "Ce champ doit contenir un lien valide.",
            ],
            categoryRule: [
                (value) => !!value || "Ce champs est obligatoire.",
            ],
            releaseDateRule: [
                (value) => !!value || "Ce champs est obligatoire.",
            ]
        },
        methods: {
            async addContent() {
                let close = loaderStore.push();

                if (this.currentType === "serie") {
                    await taob.post("serie", {
                        description: this.formDescription === "" ? "Cette série n'a pas de description." : this.formDescription,
                        image: this.formImage,
                        title_serie: this.formTitle,
                        category_id: this.formCategory.id,
                        release_date: this.formReleaseDate
                    })
                    .s(data => {
                        router.push("/dashboard/edit-video/serie/" + data.id);
                    })
                    .e(err => this.pushToast("error", "Une erreur est survenu lors de l'ajout du contenu."))
                    .result;
                } else if (this.currentType === "movie") {
                    await taob.post("movie", {
                        description: this.formDescription === "" ? "Ce film n'a pas de description." : this.formDescription,
                        image: this.formImage,
                        title_video: this.formTitle,
                        category_id: this.formCategory.id,
                        release_date: this.formReleaseDate
                    })
                    .s(data => {
                        router.push("/dashboard/edit-video/movie/" + data.id);
                    })
                    .e(err => this.pushToast("error", "Une erreur est survenu lors de l'ajout du contenu."))
                    .result;
                }

                close();
            },
            async addCategory() {
                let close = loaderStore.push();

                await taob.post("category", {
                    category_name: this.formCategory
                })
                .s(() => this.pushToast("success", "La category à bien été ajoutée."))
                .info(info => {
                    if (info === "category.exist") this.pushToast("error", "La category existe déjà.");
                    if (info === "category.name") this.pushToast("error", "Le nom de la categorie doit faire au minimum 4 caractères et maximum 20 caratères.");
                })
                .result

                close();
            },
            async searchCategory(val) {
                await taob.get(`categories?name=${val}`).s(data => {
                    if (data.length === 0) {
                        this.formCategory = val;
                        this.categories = [];
                    } else {
                        this.categories = data;
                    }
                }).result;
            }
        },
        mounted() {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);

            this.currentType = urlParams.get('type') === "serie" ? "serie" : "movie";
        },
        stores: [
            {
                name: "toast",
                actions: ["pushToast"]
            }
        ]
    }
</script>

<style>

</style>