<div class="max-h-[calc(100vh-100px)] p-[24px] lg:p-[48px] content">
    <div class="grid grid-cols-2 gap-12 charts">
        <div class="max-h-[400px] flex items-center justify-center chart">
            <canvas cv-ref="movieSerieChart"></canvas>
        </div>

        <div class="max-h-[400px] flex items-center justify-center chart">
            <canvas cv-ref="contentChart"></canvas>
        </div>
    </div>
</div>

<script>
    const [{ default: taob }] = await Promise.all([
        import("/public/cuteVue/taob.js")
    ]);

    export default {
        data: {
            charts: [],
            movieSerieChartData: [],
            contentChartData: [],
        },
        methods: {
            async init(){
                this.createMovieSerieChart();
                this.createContentChart();
            },
            async createMovieSerieChart(){
                const chartDiv = this.$refs.movieSerieChart;
                const [moviesCount, seriesCount] = await Promise.all([
                    taob.get(
                        "/movies/count"
                    )
                    .s(data => {
                        this.movieSerieChartData[0] = data.count;
                    }).sd(),
                    taob.get(
                        "/series/count"
                    )
                    .s(data => {
                        this.movieSerieChartData[1] = data.count;
                    }).sd()
                ]);
                const chart = new Chart(chartDiv, {
                    type: "doughnut",
                    data: {
                        labels: ["Films", "Séries"],
                        datasets: [{
                            data: this.movieSerieChartData,
                            backgroundColor: [
                                "rgb(255, 99, 132)",
                                "rgb(255, 205, 86)"
                            ],
                            hoverOffset: 4
                        }]
                    },
                });

                this.charts.push(chart);
            },
            async createContentChart(){
                const chartDiv = this.$refs.contentChart;
                const [userCount, roleCount, categorieCount] = await Promise.all([
                    taob.get(
                        "/users/count"
                    )
                    .s(data => {
                        this.contentChartData[0] = data.count;
                    }).sd(),
                    taob.get(
                        "/roles/count"
                    )
                    .s(data => {
                        this.contentChartData[1] = data;
                    }).sd(),
                    taob.get(
                        "/categories/count"
                    )
                    .s(data => {
                        this.contentChartData[2] = data;
                    }).sd()
                ]);
                const chart = new Chart(chartDiv, {
                    type: "bar",
                    data: {
                        labels: ["Nombre d'utilisateurs", "Nombre de rôles", "Nombre de catégories"],
                        datasets: [{
                            label: 'Contenu du site',
                            data: this.contentChartData,
                            backgroundColor: [
                                'rgba(75, 192, 192, 0.2)',
                                "rgba(153, 102, 255, 0.2)",
                                "rgba(54, 162, 235, 0.2)"
                            ],
                            borderColor: [
                                'rgb(75, 192, 192)',
                                'rgb(153, 102, 255)',
                                'rgb(54, 162, 235)'
                            ],
                            borderWidth: 1
                        }]
                    },
                });

                this.charts.push(chart);
            }
        },
        mounted(){
            this.init();
        },
        unmounted(){
            this.charts.forEach(chart => {
                chart.destroy();
            });
        }
    }
</script>

<style>

</style>