<div class="max-w-[1164px] h-[calc(100vh-100px)] pt-[20px] mx-auto px-7 lg:px-14 content">
    <delete_movie_modal
    cv-if="this.isDeleteModalOpen" :movieid="this.movieId"
    @close="this.isDeleteModalOpen = false"
    @ondelete="refresh"
    />

    <div class="mb-[10px] w-full flex justify-between items-start">
        <div class="search-movie">
            <div class="search-bar border rounded-[8px] px-[20px] py-[10px] flex items-center">
                <icon name="magnify" class="text-xl mr-[10px]"/>

                <input class="focus:outline-none" cv-model="search" type="text" placeholder="Rechercher">
            </div>

            <p class="mt-[10px] px-[20px] py-[10px]">{{ this.searchInfo }}</p>
        </div>

        <router_link href="/dashboard/add-content?type=movie" class="add-movie-btn flex items-center gap-[10px] px-[20px] py-[10px] rounded-[8px] bg-skyblue hover:bg-[#1da1f2] text-white">
            <icon name="plus" class="text-xl"/>
            
            <span class="mt-[-2px]">Ajouter un film</span>
    </div>

    <admin_table
    :thead="this.tabHead"
    :data="this.displayedMovies"
    :keys="['title', 'category', 'release_date', 'created_at', 'updated_at']"
    :edit="true"
    :delete="true"
    :paging="true"
    :currentpage="this.currentPageNumber"
    :totalpages="this.maxPage"
    @edititem="router.push(`/dashboard/edit-video/movie/${$event.id}`)"
    @deleteitem="this.openDeleteModal($event.id)"
    @previous="this.previousPage()"
    @next="this.nextPage()"
    />
</div>

<script>
    const [impLoader, impTaob, admin_table, delete_movie_modal] = await Promise.all([
        import("/public/cuteVue/stores/loader.js"),
        import("/public/cuteVue/taob.js"),
        importer("/public/cuteVue/components/admin_table.html"),
        importer('/public/cuteVue/components/modals/delete_movie_modal.html')
    ]);
    const loaderStore = impLoader.loaderStore;
    const taob = impTaob.default;

    export default {
        components: {
            admin_table,
            delete_movie_modal
        },
        data: {
            tabHead: [
                {
                    name: "Titre",
                    key: "title",
                    sort: true,
                },
                {
                    name: "Catégorie",
                    key: "category",
                    sort: true,
                },
                {
                    name: "Date de sortie",
                    key: "release_date",
                    sort: true,
                },
                {
                    name: "Ajouté le",
                    key: "created_at",
                    sort: true,
                },
                {
                    name: "Modifié le",
                    key: "updated_at",
                    sort: true,
                },
            ],
            movies: [],
            displayedMovies: [],
            movieFiltered: [],
            nbTotalMovies: 0,
            movieId: null,
            currentTitle: "",
            currentCategory: "",
            currentCreatedAt: "",
            currentUpdatedAt: "",
            currentPageNumber: 1,
            maxPage: 0,
            limitToDisplay: 5,
            isOpenedModal: false,
            isDeleteModalOpen: false,
            search: "",
            searchInfo: ""
        },
        watch: {
            search(val){
                if (val === ""){
                    this.searchInfo = "";
                    this.displayedMovies = this.movies;

                    return;
                }

                this.searchMovies(val);
            }
        },
        methods: {
            async getMoviesWithPaging(page, count = false){
                let close = loaderStore.push();

                await taob.get(`movies?page=${page - 1}`).s(data => {
                    data.forEach(movie => movie.release_date = this.dateFormatter(movie.release_date));
                    this.movies = data;
                }).result;

                console.log(this.movies);

                this.displayedMovies = this.movies;

                if (count){
                    await taob.get("movies/count").s(data => {
                        this.nbTotalMovies = data.count;
                    }).result;

                    this.getNbPages();
                }

                close();
            },
            async searchMovies(val){
                let close = loaderStore.push();

                await taob.get(`movies?title=${val}`).s(data => {
                    this.movieFiltered = data;
                }).result;

                if (this.movieFiltered.length > 0){
                    this.searchInfo = "";
                    this.displayedMovies = this.movieFiltered;
                } else {
                    this.searchInfo = "Aucun résultat trouvé pour cette recherche.";
                    this.displayedMovies = this.movies;
                }

                close();
            },
            dateFormatter(date){
                let [year, month, day] = date.split("-");
                let months = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet",
                    "Août", "Septembre", "Octobre", "Novembre", "Décembre"];
                let index = parseInt(month);

                return parseInt(day) + " " + months[index] + " " + year;
            },
            async previousPage(){
                if (this.currentPageNumber === 1) return;

                this.currentPageNumber--;
                await this.getMoviesWithPaging(this.currentPageNumber);
            },
            async nextPage(){
                if (this.currentPageNumber === this.maxPage) return;

                this.currentPageNumber++;
                await this.getMoviesWithPaging(this.currentPageNumber);
            },
            openDeleteModal(movieId){
                this.movieId = movieId;
                this.isDeleteModalOpen = true;
            },
            closeDeleteModal(){
                this.isDeleteModalOpen = false;
            },
            async refresh(action){
                if (action === "delete"){
                    if (this.displayedMovies.length === 1 && this.currentPageNumber > 1) {
                        this.currentPageNumber--;
                    }
                }

                await this.getMoviesWithPaging(this.currentPageNumber, true);
            },
            getNbPages(){
                this.maxPage = Math.ceil(this.nbTotalMovies / this.limitToDisplay);
            },
        },
        mounted(){
            this.getMoviesWithPaging(this.currentPageNumber, true);
        }
    }
</script>

<style>
</style>