<div class="w-full h-full p-[20px] overflow-y-auto flex flex-col gap-[20px]">
    <delete_serie_modal
    cv-if="this.isDeleteModalOpen" :serieid="this.serieId"
    @close="this.isDeleteModalOpen = false"
    @ondelete="refresh"
    />

    <div class="mb-[10px] w-full flex justify-between items-start">
        <div class="search-movie">
            <div class="search-bar border rounded-[8px] px-[20px] py-[10px] flex items-center">
                <icon name="magnify" class="text-xl mr-[10px]"/>

                <input class="focus:outline-none" cv-model="search" type="text" placeholder="Rechercher">
            </div>

            <p class="mt-[10px] px-[20px] py-[10px]">{{ this.searchInfo }}</p>
        </div>

        <router_link href="/dashboard/add-content?type=movie" class="add-movie-btn flex items-center gap-[10px] px-[20px] py-[10px] rounded-[8px] bg-skyblue hover:bg-[#1da1f2] text-white">
            <icon name="plus" class="text-xl"/>
            
            <span class="mt-[-2px]">Ajouter un film</span>
    </div>
    
    <paging-table
    :items="this.displayedMovies"
    :cols="this.cols"
    :current-page="this.currentPageNumber"
    :total-pages="this.maxPage"
    @previous="previousPage"
    @next="nextPage"
    @delete="this.openDeleteModal($event.id)"
    @edit="router.push(`/dashboard/edit-video/movie/${$event.id}`)"
    />
</div>

<script>
    const [impLoader, { default: taob }, paging_table, delete_movie_modal] = await Promise.all([
        import("/public/cuteVue/stores/loader.js"),
        import("/public/cuteVue/taob.js"),
        importer("/public/cuteVue/components/paging-table.html"),
        importer('/public/cuteVue/components/modals/delete_movie_modal.html')
    ]);
    const loaderStore = impLoader.loaderStore;

    export default {
        components: {
            "paging-table": paging_table,
            delete_movie_modal
        },
        data: {
            movies: [],
            displayedMovies: [],
            movieFiltered: [],
            nbTotalMovies: 0,
            movieId: null,
            currentTitle: "",
            currentCategory: "",
            currentCreatedAt: "",
            currentUpdatedAt: "",
            currentPageNumber: 1,
            maxPage: 0,
            limitToDisplay: 5,
            isOpenedModal: false,
            isDeleteModalOpen: false,
            search: "",
            searchInfo: ""
        },
        static: {
            cols: [
                {
                    name: "Titre", 
                    display: (item) => item.title,
                    sort: true
                },
                {
                    name: "Catégorie", 
                    display: (item) => item.content?.category?.title || "Aucune",
                    sort: true
                },
                {
                    name: "Date de sortie", 
                    display: (item) => item.release_date.split("-").reverse().join("/"),
                    sort: true
                },
                {
                    name: "Ajouté le", 
                    display: (item) => item.created_at.split("-").reverse().join("/"),
                    sort: true
                },
                {
                    name: "Modifié le", 
                    display: (item) => item.updated_at.split("-").reverse().join("/"),
                    sort: true
                },
            ]
        },
        watch: {
            search(val){
                if (val === ""){
                    this.searchInfo = "";
                    this.displayedMovies = this.movies;

                    return;
                }

                this.searchMovies(val);
            }
        },
        methods: {
            async getMoviesWithPaging(page, count = false){
                let close = loaderStore.push();

                await taob.get(`movies?page=${page - 1}`).s(data => {
                    this.movies = data;
                }).result;

                this.displayedMovies = this.movies;

                if (count){
                    await taob.get("movies/count").s(data => {
                        this.nbTotalMovies = data.count;
                    }).result;

                    this.getNbPages();
                }

                close();
            },
            async searchMovies(val){
                let close = loaderStore.push();

                await taob.get(`movies?title=${val}`).s(data => {
                    this.movieFiltered = data;
                }).result;

                if (this.movieFiltered.length > 0){
                    this.searchInfo = "";
                    this.displayedMovies = this.movieFiltered;
                } else {
                    this.searchInfo = "Aucun résultat trouvé pour cette recherche.";
                    this.displayedMovies = this.movies;
                }

                close();
            },
            async previousPage(){
                if (this.currentPageNumber === 1) return;

                this.currentPageNumber--;
                await this.getMoviesWithPaging(this.currentPageNumber);
            },
            async nextPage(){
                if (this.currentPageNumber === this.maxPage) return;

                this.currentPageNumber++;
                await this.getMoviesWithPaging(this.currentPageNumber);
            },
            openDeleteModal(movieId){
                this.movieId = movieId;
                this.isDeleteModalOpen = true;
            },
            closeDeleteModal(){
                this.isDeleteModalOpen = false;
            },
            async refresh(action){
                if (action === "delete"){
                    if (this.displayedMovies.length === 1 && this.currentPageNumber > 1) {
                        this.currentPageNumber--;
                    }
                }

                await this.getMoviesWithPaging(this.currentPageNumber, true);
            },
            getNbPages(){
                this.maxPage = Math.ceil(this.nbTotalMovies / this.limitToDisplay);
            },
        },
        mounted(){
            this.getMoviesWithPaging(this.currentPageNumber, true);
        }
    }
</script>

<style>

</style>