<div class="w-full h-full p-[20px] overflow-y-auto flex flex-col gap-[20px]">
    <delete_serie_modal
    cv-if="this.isDeleteModalOpen" :serieid="this.serieId"
    @close="this.isDeleteModalOpen = false"
    @ondelete="refresh"
    />

    <div class="mb-[10px] w-full flex justify-between items-start">
        <div class="search-serie">
            <div class="search-bar border rounded-[8px] px-[20px] py-[10px] flex items-center">
                <icon name="magnify" class="text-xl mr-[10px]"/>

                <input class="focus:outline-none" cv-model="search" type="text" placeholder="Rechercher">
            </div>

            <p class="mt-[10px] px-[20px] py-[10px]">{{ this.searchInfo }}</p>
        </div>

        <router_link href="/dashboard/add-content?type=serie" class="add-serie-btn flex items-center gap-[10px] px-[20px] py-[10px] rounded-[8px] bg-skyblue hover:bg-[#1da1f2] text-white">
            <icon name="plus" class="text-xl"/>

            <span class="mt-[-2px]">Ajouter une série</span>
    </div>
    

    <paging-table
    :items="this.displayedSeries"
    :cols="this.cols"
    :current-page="this.currentPageNumber"
    :total-pages="this.maxPage"
    @previous="previousPage"
    @next="nextPage"
    @delete="this.openDeleteModal($event.id)"
    @edit="router.push(`/dashboard/edit-video/serie/${$event.id}`)"
    />
</div>

<script>
    const [impLoader, { default: taob }, paging_table, delete_serie_modal] = await Promise.all([
        import("/public/cuteVue/stores/loader.js"),
        import("/public/cuteVue/taob.js"),
        importer('/public/cuteVue/components/paging-table.html'),
        importer('/public/cuteVue/components/modals/delete_serie_modal.html')
    ]);
    const loaderStore = impLoader.loaderStore;

    export default {
        components: {
            "paging-table": paging_table,
            delete_serie_modal
        },
        data: {
            series: [],
            displayedSeries: [],
            serieFiltered: [],
            nbTotalSeries: 0,
            serieId: null,
            currentTitle: "",
            currentCategory: "",
            currentCreatedAt: "",
            currentUpdatedAt: "",
            currentPageNumber: 1,
            maxPage: 0,
            limitToDisplay: 5,
            isOpenedModal: false,
            isDeleteModalOpen: false,
            search: "",
            searchInfo: ""
        },
        static: {
            cols: [
                {
                    name: "Titre", 
                    display: (item) => item.title,
                    sort: true
                },
                {
                    name: "Catégorie", 
                    display: (item) => item.content?.category?.title || "Aucune",
                    sort: true
                },
                {
                    name: "Date de sortie", 
                    display: (item) => item.release_date.split("-").reverse().join("/"),
                    sort: true
                },
                {
                    name: "Ajouté le", 
                    display: (item) => item.created_at.split("-").reverse().join("/"),
                    sort: true
                },
                {
                    name: "Modifié le", 
                    display: (item) => item.updated_at.split("-").reverse().join("/"),
                    sort: true
                },
            ]
        },
        watch: {
            search(val){
                if (val === "") {
                    this.searchInfo = "";
                    this.displayedSeries = this.series;

                    return;
                }

                this.searchSeries(val);
            }
        },
        methods: {
            async getSeriesWithPaging(page, count = false){
                let close = loaderStore.push();

                await taob.get(`series?page=${page - 1}`).s(data => {
                    this.series = data;
                }).result;

                this.displayedSeries = this.series;

                if (count){
                    await taob.get("series/count").s(data => {
                        this.nbTotalSeries = data.count;
                    }).result;

                    this.getNbPages();
                }

                close();
            },
            async searchSeries(val){
                let close = loaderStore.push();

                await taob.get(`series?title=${val}`).s(data => {
                    this.serieFiltered = data;
                }).result;

                if (this.serieFiltered.length > 0){
                    this.searchInfo = "";
                    this.displayedSeries = this.serieFiltered;
                } else {
                    this.searchInfo = "Aucun résultat trouvé pour cette recherche.";
                    this.displayedSeries = this.series;
                }

                close();
            },
            async previousPage(){
                if (this.currentPageNumber === 1) return;

                this.currentPageNumber--;
                await this.getSeriesWithPaging(this.currentPageNumber);
            },
            async nextPage(){
                if (this.currentPageNumber === this.maxPage) return;

                this.currentPageNumber++;
                await this.getSeriesWithPaging(this.currentPageNumber);
            },
            openDeleteModal(serieId){
                this.serieId = serieId;
                this.isDeleteModalOpen = true;
            },
            closeDeleteModal(){
                this.isDeleteModalOpen = false;
            },
            async refresh(action){
                if (action === "delete") {
                    if (this.displayedSeries.length === 1 && this.currentPageNumber > 1) {
                        this.currentPageNumber--;
                    }
                }

                await this.getSeriesWithPaging(this.currentPageNumber, true);
            },
            getNbPages(){
                this.maxPage = Math.ceil(this.nbTotalSeries / this.limitToDisplay);
            },
        },
        mounted(){
            this.getSeriesWithPaging(this.currentPageNumber, true);
        }
    }
</script>

<style>

</style>