<div class="max-w-[1130px] mt-[60px] mx-auto mb-[40px] px-7 lg:px-14">
    <div class="content">
        <account_user></account_user>

        <div class="flex gap-[32px] account-container">
            <account_nav></account_nav>

            <account_settings
                title="Changer l'adresse email"
                subtitle="Choisissez une adresse e-mail pour vous connecter et recevoir les informations"
            >
                <div class="mb-[30px] input-wrap">
                    <label for="current-email" class="block mb-[10px] text-xl font-semibold">Adresse email actuelle</label>
    
                    <text-input
                    name="current-email"
                    type="text"
                    class="w-full"
                    disabled="true"
                    :value="this.email"
                    ></text-input>
                </div>
                
                <cv-form
                class="mt-[90px]"
                @submit="submit"
                >
                    <div class="mb-[30px] input-wrap">
                        <label for="new-email" class="block mb-[10px] text-xl font-semibold">Nouvelle adresse email</label>
        
                        <text-input
                        name="new-email"
                        type="text"
                        class="w-full"
                        cv-model="newEmail"
                        cv-ref="newEmail"
                        :rules="this.emailRule"
                        ></text-input>
                    </div>
        
                    <div class="mb-[30px] input-wrap">
                        <label for="password" class="block mb-[10px] text-xl font-semibold">Mot de passe</label>
        
                        <text-input
                        name="password"
                        type="password"
                        cv-model="password"
                        :rules="this.passwordRule"
                        class="w-full"
                        ></text-input>
                    </div>

                    <p class="text-center text-[red]" cv-class="{ 'text-[green]': this.success }">{{ this.info }}</p>

                    <div class="mt-[30px] text-center submit">
                        <button 
                        type="submit" 
                        class="px-[20px] py-[10px] rounded bg-skyblue"
                        >
                            Changer l'adresse email
                        </button>  
                    </div>
                </cv-form>
            </account_settings>
        </div>
    </div>
</div>

<script>
    const [account_user, account_nav, account_settings] = await Promise.all([
        importer('/public/cuteVue/components/account/account_user.html'),
        importer('/public/cuteVue/components/account/account_nav.html'),
        importer('/public/cuteVue/components/account/account_settings.html')
    ]);

    const [impLoader, impTaob] = await Promise.all([
        import("/public/cuteVue/loader.js"),
        import("/public/cuteVue/taob.js")
    ]);

    const loaderStore = impLoader.loaderStore;
    const taob = impTaob.default;

    export default {
        components: {
            account_user,
            account_nav,
            account_settings
        },
        data: {
            newEmail: "",
            password: "",

            info: "",
            success: false,

            alreadyUseEmail: false,
            alreadyUseUsername: false
        },
        computed: {
            emailRule(){
                return [
                    (value) => this.alreadyUseEmail !== value || "Cette email est déjà utilisé",
                    (value) => !!value || "Ce champs est obligatoir.",
                    (value) => value.length > 100 ? "Email trop long" : true,
                    (value) => /^[\w-\.]+@([\w-]+\.)+[\w-].{2,4}$/.test(value) || "Email invalide"
                ];
            }
        },
        static: {
            passwordRule: [
                (value) => !!value || "Ce champs est obligatoire",
                (value) => value.length < 4 ? "Mot de passe trop court" : true,
                (value) => value.length > 255 ? "Mot de passe trop long" : true,
                (value) => /(?=.*[!@#$%^&*(),.?":{}|<>])/.test(value) || "Mot de passe invalide. Doit contenir au moins un caractère spécial"
            ]
        },
        methods: {
            async submit(){
                this.success = false;

                let close = loaderStore.push();

                this.info = "";

                await taob.post("/email", { email: this.newEmail, password: this.password })
                .info(info => {
                    if(info === "email.already.used"){
                        this.alreadyUseEmail = this.email;
                        this.$refs.email.$validate();
                    }
                })
                .s(() => {
                    this.success = true;
                    this.info = "Un lien de confirmation vous a été envoyé par email";
                })
                .e(() => {
                    this.info = "Les informations sont invalides";
                })
                .result;

                close();
            }
        },
        mounted(){

        },
        stores: [
            {
                name: "user",
                states: ["firstname", "lastname", "username", "avatar", "email"], // TODO: add avatar, email
                actions: []
            }
        ]
    }
</script>

<style>

</style>