<div class="max-w-[1130px] mt-[60px] mx-auto mb-[40px] px-7 lg:px-14">
    <div class="content">
        <account_user></account_user>
        <div class="flex gap-[32px] account-container">
            <account_nav></account_nav>

            <account_settings
                title="Mes informations"
                subtitle="Voici vos informations. Seul votre pseudo est public."
            >
                <div class="mb-[30px] input-wrap">
                    <label for="lastname" class="block mb-[10px] text-xl font-semibold">Nom</label>
    
                    <text-input
                    name="lastname"
                    type="text"
                    class="w-full"
                    disabled="true"
                    :value="this.lastname"
                    ></text-input>
                </div>
                
                <div class="mb-[30px] input-wrap">
                    <label for="firstname" class="block mb-[10px] text-xl font-semibold">Prénom</label>
    
                    <text-input
                    name="firstname"
                    type="text"
                    class="w-full"
                    disabled="true"
                    :value="this.firstname"
                    ></text-input>
                </div>
    
                <div class="mb-[30px] input-wrap">
                    <label for="username" class="block mb-[10px] text-xl font-semibold">Pseudo</label>
    
                    <text-input
                    name="username"
                    type="text"
                    class="w-full"
                    disabled="true"
                    :value="this.username"
                    ></text-input>
                </div>
    
                <div class="mb-[30px] input-wrap">
                    <label for="email" class="block mb-[10px] text-xl font-semibold">Email</label>
    
                    <text-input
                    name="email"
                    type="text"
                    class="w-full"
                    disabled="true"
                    :value="this.email"
                    ></text-input>
                </div>
            </account_settings>
        </div>
    </div>
</div>

<script>
    const [account_user, account_nav, account_settings] = await Promise.all([
        importer('/public/cuteVue/components/account_user.html'),
        importer('/public/cuteVue/components/account_nav.html'),
        importer('/public/cuteVue/components/account_settings.html')
    ]);

    export default {
        components: {
            account_user,
            account_nav,
            account_settings
        },

        data: {
        },
        
        methods: {

        },

        mounted(){
            
        },

        stores: [
            {
                name: "user",
                states: ["firstname", "lastname", "username", "avatar", "email"], // TODO: add avatar, email
                actions: []
            },
        ]
    }
</script>

<style>

</style>