<div class="max-w-[1130px] mt-[60px] mx-auto mb-[40px] px-7 lg:px-14">
    <div class="content">
        <account_user></account_user>

        <div class="flex gap-[32px] account-container">
            <account_nav></account_nav>

            <account_settings
                title="Changer le mot de passe"
                subtitle="Utilisez un mot de passe unique pour assurer la sécurité de votre compte"
            >
                <cv-form
                @submit="submit"
                >
                    <div class="mb-[90px] input-wrap">
                        <label for="actual-password" class="block mb-[10px] text-xl font-semibold">Mot de passe actuelle</label>
        
                        <text-input
                        name="actual-password"
                        type="password"
                        cv-model="actualPassword"
                        :rules="this.passwordRule"
                        class="w-full"
                        ></text-input>
                    </div>

                    <div class="mb-[30px] input-wrap">
                        <label for="new-password" class="block mb-[10px] text-xl font-semibold">Nouveau mot de passe</label>
        
                        <text-input
                        name="new-password"
                        type="password"
                        cv-model="newPassword"
                        :rules="this.passwordRule"
                        class="w-full"
                        ></text-input>
                    </div>

                    <div class="mb-[30px] input-wrap">
                        <label for="confirm-new-password" class="block mb-[10px] text-xl font-semibold">Confirmer le mot de passe</label>
        
                        <text-input
                        name="confirm-new-password"
                        type="password"
                        cv-model="cnewPassword"
                        :rules="this.cpasswordRule"
                        class="w-full"
                        ></text-input>
                    </div>

                    <p class="text-center text-[red]" cv-class="{ 'text-[green]': this.success }">{{ this.info }}</p>

                    <div class="mt-[30px] text-center submit">
                        <button 
                        type="submit" 
                        class="px-[20px] py-[10px] rounded bg-skyblue"
                        >
                            Changer le mot de passe
                        </button>  
                    </div>
                </cv-form>
            </account_settings>
        </div>
    </div>
</div>

<script>
    const [account_user, account_nav, account_settings] = await Promise.all([
        importer('/public/cuteVue/components/account_user.html'),
        importer('/public/cuteVue/components/account_nav.html'),
        importer('/public/cuteVue/components/account_settings.html')
    ]);

    const [impLoader, impTaob] = await Promise.all([
        import("/public/cuteVue/loader.js"),
        import("/public/cuteVue/taob.js")
    ]);

    const loaderStore = impLoader.loaderStore;
    const taob = impTaob.default;

    export default {
        components: {
            account_user,
            account_nav,
            account_settings
        },
        data: {
            actualPassword: "",
            newPassword: "",
            cnewPassword: "",

            info: "",
            success: false,
        },
        computed: {
            cpasswordRule(){
                return [
                    (value) => !!value || "Ce champs est obligatoire",
                    (value) => this.newPassword === this.cnewPassword || "Les mots de passe conrespondent pas"
                ];
            }
        },
        static: {
            passwordRule: [
                (value) => !!value || "Ce champs est obligatoire",
                (value) => value.length < 4 ? "Mot de passe trop court" : true,
                (value) => value.length > 255 ? "Mot de passe trop long" : true,
                (value) => /(?=.*[!@#$%^&*(),.?":{}|<>])/.test(value) || "Mot de passe invalide. Doit contenir au moins un caractère spécial"
            ]
        },
        methods: {
            async submit(){
                this.success = false;

                let close = loaderStore.push();

                this.info = "";

                await taob.post("/password", { email: this.email, password: this.newPassword })
                .s(() => {
                    this.success = true;
                    this.info = "Un lien de confirmation vous a été envoyé par email";
                })
                .e(() => {
                    this.info = "Les informations sont invalides";
                })
                .result;

                close();
            }
        },
        mounted(){
            
        },
        stores: [
            {
                name: "user",
                states: ["firstname", "lastname", "username", "avatar", "email"], // TODO: add avatar, email
                actions: []
            }
        ]
    }
</script>

<style>

</style>