<div class="absolute top-0 left-0 z-10 w-[calc(100vw-250px)] h-[calc(100vh-100px)] ml-[250px] mt-[100px] flex justify-center items-center bg-[rgba(0,0,0,0.5)] overlay">
    <div class="relative w-[400px] h-[280px] px-[48px] py-[24px] flex flex-col justify-center items-center gap-[30px] bg-white rounded-xl popup">
        <icon name="alert-circle-outline" class="my-[-16.5px] text-[60px] text-pinkred"/>

        <p class="text-center message">Êtes-vous sûr de vouloir supprimer cet catégorie ?</p>

        <div class="flex gap-[10px] buttons">
            <button @click="this.deleteCategory()" class="w-[110px] px-[16px] py-[12px] text-center text-white bg-pinkred hover:bg-pinkredhover rounded-lg">Supprimer</button>

            <button @click="this.closeModal()" class="w-[100px] px-[16px] py-[12px] text-center text-black bg-white hover:bg-whiteless border-solid border-2 border-whiteless rounded-lg">Annuler</button>
        </div>
    </div>
</div>

<script>
    const [impLoader, { default: taob }] = await Promise.all([
        import("/public/cuteVue/stores/loader.js"),
        import("/public/cuteVue/taob.js")
    ]);

    const loaderStore = impLoader.loaderStore;
    
    export default {
        props: {
            category_id: ""
        },
        methods: {
            closeModal() {
                this.$emit("close");
            },
            async deleteCategory() {
                let close = loaderStore.push();

                await taob.delete("/category/" + this.category_id)
                .s(async () => {
                    this.$emit("delete-category", "delete")
                    this.pushToast("successfull", "La catégorie à bien été supprimée.");
                })
                .info(info => console.log(info)).result;

                this.closeModal();
                close();
            }
        },
        stores: [
            {
                name: "toast",
                actions: ["pushToast"]
            }
        ]
    }
</script>

<style>

</style>