<div
    class="absolute top-0 left-0 w-[calc(100vw-250px)] h-[calc(100vh-100px)] ml-[250px] mt-[100px] flex justify-center items-center bg-[rgba(0,0,0,0.5)] overlay">
    <div
        class="relative w-[400px] min-h-[380px] px-[48px] py-[24px] flex flex-col justify-center items-center gap-[30px] bg-white rounded-xl popup">
        <cv-form @submit="editCategory" class="w-auto h-auto">
            <div class="flex flex-col items-center">
                <span class="mdi mdi-close cursor-pointer" @click="this.closeModal()"></span>
                <div class="flex flex-col items-start m-[5px]">
                    <label>Catégorie</label>
                    <input class="focus:border-gray-100 border rounded-[8px] px-[20px] py-[10px] text-grey"
                        cv-model="currentName" type="text">
                </div>
                <div class="mt-[30px] text-center submit text-white">
                    <button type="submit" class="px-[20px] py-[10px] rounded bg-skyblue">
                        Modifier
                    </button>
                </div>
                <p class="text-center text-[red]">{{ this.info }}</p>
            </div>
        </cv-form>
    </div>
</div>

<script>
    const [impLoader, impTaob] = await Promise.all([
        import("/public/cuteVue/loader.js"),
        import("/public/cuteVue/taob.js")
    ]);
    const loaderStore = impLoader.loaderStore;
    const taob = impTaob.default;
    export default {
        data: {
            info: "",
        },
        props: {
            category_id: null,
            currentName: "",
        },
        methods: {
            closeModal() {
                this.info = "";
                this.$emit("close");
            },
            async editCategory() {
                let close = loaderStore.push();

                console.log(this.category_id);
                console.log(this.currentName);
                

                await taob.put("/category/" + this.category_id, {
                    category_name: this.currentName,

                })
                .s(() => this.$emit("edit-category", "edit"))
                .info(info => {
                    if (info === "category.exist") this.info = "La catégorie existe déjà.";
                    if (info === "category.updated") this.info = "La catégorie à bien été modifié.";
                }).result;


                this.closeModal();

                close();
            },
        },
        mounted() {
        }
    }
</script>

<style>

</style>