<div class="absolute top-0 left-0 w-[calc(100vw-250px)] h-[calc(100vh-100px)] ml-[250px] mt-[100px] flex justify-center items-center bg-[rgba(0,0,0,0.5)] overlay">
    <div class="relative w-[400px] min-h-[380px] px-[48px] py-[24px] flex flex-col justify-center items-center gap-[30px] bg-white rounded-xl popup">
        <icon name="close" class="absolute top-[24px] right-[24px] text-[24px] cursor-pointer" @click="this.closeModal()"/>

        <cv-form
        @submit="editUser"
        class="w-auto h-auto"
        >
            <div class="mt-[30px] flex flex-col items-center">
                <div class="flex flex-col items-start m-[5px]">
                    <label>Nom</label>

                    <input class="focus:outline-none focus:border-gray-100 border rounded-[8px] px-[20px] py-[10px] text-grey"  cv-model="currentlastname" type="text">
                </div>

                <div class="flex flex-col items-start m-[5px]">
                    <label>Prénom</label>

                    <input class="focus:outline-none focus:border-gray-100 border rounded-[8px] px-[20px] py-[10px] text-grey" cv-model="currentfirstname" type="text">
                </div>

                <div class="flex flex-col items-start m-[5px]">
                    <label>Pseudo</label>

                    <input class="focus:outline-none focus:border-gray-100 border rounded-[8px] px-[20px] py-[10px] text-grey" cv-model="currentusername" type="text">
                </div>

                <div cv-if="this.hasPermission('role_editor')" class="flex flex-col items-start m-[5px] w-full">
                    <label>Rôles</label>
                    
                    <search-input 
                    class="w-full" 
                    :items="this.roles" 
                    :return-value="v => v.id" 
                    :return-text="t => t.name" 
                    cv-model="roleIdToEdit" 
                    />
                </div>

                <div class="mt-[30px] text-center submit text-white">
                    <button
                    type="submit"
                    class="px-[20px] py-[10px] rounded bg-skyblue"
                    >
                        Modifier
                    </button>
                </div>
            </div>
        </cv-form>
    </div>
</div>

<script>
    const [impLoader, impTaob] = await Promise.all([
        import("/public/cuteVue/loader.js"),
        import("/public/cuteVue/taob.js")
    ]);
    const loaderStore = impLoader.loaderStore;
    const taob = impTaob.default;

    export default {
        data: {
            user: null,
            roles: [],
            roleIdToEdit: null
        },
        props: {
            userid: null,
            currentfirstname: "",
            currentlastname: "",
            currentusername: "",
            currentrolename: "",
            currentroleid: ""
        },
        methods: {
            closeModal() {
                this.$emit("close");
            },
            async editUser() {
                let close = loaderStore.push();

                if (this.hasPermission("role_editor")) {
                    if (this.roleIdToEdit != this.currentroleid) {
                        if(this.roleIdToEdit === null) {
                            await taob.put("role/user/" + this.userid)
                            .s(async () => {
                                this.pushToast("successfull", "L'utilisateur à bien été modifié.");
                            })
                            .info(info => {
                                if (info === "user.protected.admin") this.pushToast("error", "Vous ne pouvez pas supprimer le rôle de l'administrateur.");
                            }).result;
                        } else {
                            await taob.post("role/" +  this.roleIdToEdit + "/user/" + this.userid)
                            .s(async () => {
                                this.pushToast("successfull", "L'utilisateur à bien été modifié.");
                            })
                            .info(info => {
                                if (info === "user.protected.admin") this.pushToast("error", "Vous ne pouvez pas modifier le rôle de l'administrateur.");
                            }).result;
                        }
                    }
                }
                await taob.put("/user/" + this.userid, {
                    firstname: this.currentfirstname,
                    lastname: this.currentlastname,
                    username: this.currentusername
                })
                .s(async () => {
                    this.$emit("onedit", "edit");
                    this.pushToast("successfull", "L'utilisateur à bien été modifié.");
                })
                .info(info => {
                    if (info === "username.already.used") this.pushToast("error", "Le pseudo est déjà utilisé.");
                }).result;

                this.closeModal();
                close();
            },
            async getRoles() {
                let close = loaderStore.push();

                await taob.get('roles').s(data => {
                    data.roles.push({
                        id: null,
                        name: "utilisateur"
                    });
                    this.roles = data.roles;
                }).result;

                close();
            }
        },
        mounted() {
            this.getRoles();
            this.roleIdToEdit = this.currentroleid;
        },
        stores: [
            {
                name: "user",
                actions: ["hasPermission"]
            },
            {
                name: "toast",
                actions: ["pushToast"]
            }
        ]
    }
</script>

<style>

</style>