<div class="absolute top-0 left-0 w-[calc(100vw-250px)] h-[calc(100vh-100px)] ml-[250px] mt-[100px] flex justify-center items-center bg-[rgba(0,0,0,0.5)] overlay"
>
    <div class="relative w-[400px] min-h-[380px] px-[48px] py-[24px] flex flex-col justify-center items-center gap-[30px] bg-white rounded-xl popup">
        <cv-form
                @submit="editUser"
                class="w-auto h-auto"
        >
            <div class="flex flex-col items-center">
                <span class="mdi mdi-close cursor-pointer" @click="this.closeModal()"></span>
                <div class="flex flex-col items-start m-[5px]">
                    <label>Nom</label>
                    <input class="focus:border-gray-100 border rounded-[8px] px-[20px] py-[10px] text-grey"  cv-model="currentlastname" type="text">
                </div>
                <div class="flex flex-col items-start m-[5px]">
                    <label>Prénom</label>
                    <input class="focus:border-gray-100 border rounded-[8px] px-[20px] py-[10px] text-grey" cv-model="currentfirstname" type="text">
                </div>
                <div class="flex flex-col items-start m-[5px]">
                    <label>Pseudo</label>
                    <input class="focus:border-gray-100 border rounded-[8px] px-[20px] py-[10px] text-grey" cv-model="currentusername" type="text">
                </div>
                <div cv-if="this.hasPermission('role_editor')" class="flex flex-col items-start m-[5px] w-full">
                    <label>Rôles</label>
                    <select-input :roles="this.roles" cv-model="roleIdToEdit" :currentroleid="this.currentroleid" :currentrolename="this.currentrolename"></select-input>
                </div>
                <div class="mt-[30px] text-center submit text-white">
                    <button
                            type="submit"
                            class="px-[20px] py-[10px] rounded bg-skyblue"
                    >
                        Modifier
                    </button>
                </div>
                <p class="text-center text-[red]">{{ this.info }}</p>
            </div>
        </cv-form>
    </div>
</div>

<script>
    const [impLoader, impTaob] = await Promise.all([
        import("/public/cuteVue/loader.js"),
        import("/public/cuteVue/taob.js")
    ]);
    const loaderStore = impLoader.loaderStore;
    const taob = impTaob.default;
    export default {
        data: {
            user: null,
            info: "",
            roles: [],
            roleIdToEdit: ""
        },
        props: {
            userid: null,
            currentfirstname: "",
            currentlastname: "",
            currentusername: "",
            currentrolename: "",
            currentroleid: ""
        },
        methods: {
            closeModal() {
                this.info = "";
                this.$emit("close");
            },
            async editUser() {
                let close = loaderStore.push();

                if (this.hasPermission("role_editor")) {
                    if (this.roleIdToEdit != this.currentroleid) {
                        if(this.roleIdToEdit === "null") {
                            await taob.put("role/user/" + this.userid).info(info => {
                                if (info === "user.protected.admin") this.info = "Vous ne pouvez pas supprimer le rôle de l'administrateur.";
                                if (info === "role.removed") this.info = "Le rôle à bien été enlevé de l'utilisateur."
                            }).result;
                        } else {
                            await taob.post("role/" +  this.roleIdToEdit + "/user/" + this.userid).info(info => {
                                if (info === "user.protected.admin") this.info = "Vous ne pouvez pas modifié le rôle de l'administrateur.";
                                if (info === "user.role.added") this.info = "Le rôle à bien été ajouté.";
                            }).result;
                        }
                    }
                }
                await taob.put("/user/" + this.userid, {
                    firstname: this.currentfirstname,
                    lastname: this.currentlastname,
                    username: this.currentusername
                }).info(info => {
                    if (info === "username.already.used") this.info = "Le pseudo est déjà utilisé.";
                    if (info === "user.modified") this.info = "L'utilisateur à bien été modifié.";
                }).result;

                this.$emit("onedit", "edit");

                this.closeModal();

                close();
            },
            async getRoles() {
                let close = loaderStore.push();

                await taob.get('roles').s(data => {
                    if (data.roles.find(role => this.currentrolename === role.name)) {
                        data.roles = data.roles.filter(roleName => roleName.name !== this.currentrolename);
                        data.roles.push({
                            id: null,
                            name: "utilisateur"
                        });
                    }
                    this.roles = data.roles;
                }).result;

                close();
            }
        },
        mounted() {
            this.getRoles();
            this.roleIdToEdit = this.currentroleid;
        },
        stores: [
            {
                name: "user",
                actions: ["hasPermission"]
            }
        ]
    }
</script>

<style>

</style>