<div>
    <admin_header></admin_header>
    <admin_nav></admin_nav>
    <view class="pt-[100px] pl-[250px] h-[100vh] bg-white text-black"></view>
</div>

<script>
     const [admin_header, admin_nav] = await Promise.all([
         importer('/public/cuteVue/components/admin_header.html'),
         importer('/public/cuteVue/components/admin_nav.html')
     ]);

    export default {
        components: {
            admin_header,
            admin_nav
        },

        mounted(){
              
        },
    }
</script>

<style>

</style>