<div>
    <!-- <admin_header></admin_header> -->
    <view class="pt-[100px] min-h-[calc(100vh-100px)]"></view>
    <!-- <admin_footer></admin_footer> -->
</div>

<script>
    // const [admin_header, admin_footer] = await Promise.all([
    //     importer('/public/cuteVue/components/admin_header.html'),
    //     importer('/public/cuteVue/components/admin_footer.html')
    // ]);
    
    export default {
        // components: {
        //     admin_header,
        //     admin_footer
        // },
        
        mounted(){
              
        },
    }
</script>

<style>

</style>