<router_link 
href="#" 
class="aspect-[47/63] show-card"
>
    <div class="h-[225px] mb-[10px] object-cover thumbnail">
        <img class="w-full h-full object-cover pointer-events-none" src="/public/img/thumbnails/unloaded.png" alt="show title">
    </div>

    <div class="content">
        <h3 class="text-bold show-title">Show title</h3>

        <p class="text-sm show-description">Show description</p>

        <span class="inline-block mt-[5px] px-[6px] py-[3px] text-xs rounded-full bg-skyblue">Category</span>
    </div>
</router_link>

<script>
    export default {
        props: {
            movie: {}
        }
    }
</script>

<style>

</style>