<router_link 
href="#" 
class="show-card"
>
    <div class="mb-[10px] object-cover thumbnail aspect-[47/63]">
        <img class="w-full h-full object-cover pointer-events-none" :src="this.content.value.image" alt="show title">
    </div>

    <div class="content">
        <h3 class="text-bold show-title">{{this.content.value.title}}</h3>

        <p 
        class="text-sm show-description text-ellipsis overflow-hidden w-full"
        :title="this.content.value.description || ''"
        >
            {{this.content.value.description || ""}}
        </p>

        <span class="inline-block mt-[5px] px-[6px] py-[3px] text-xs rounded-full bg-skyblue">{{this.content.category.title}}</span>
    </div>
</router_link>

<script>
    export default {
        props: {
            content: null
        }
    }
</script>

<style>

</style>