<div>
    <router_link
            :href="(this.content.type === 'M' ? '/movie/' : '/serie/')  + this.content.value.id"
            class="show-card"
    >
    <div class="relative mb-[10px] object-cover thumbnail aspect-[47/63]">
        <img 
        class="w-full h-full object-cover pointer-events-none" 
        :src="this.content.value.image" alt="show title"
        />
    </div>
    </router_link>

    <div class="content">
        <h3 
        class="text-bold overflow-hidden title"
        :title="this.content.value.title"
        >
            {{ this.content.value.title }}
        </h3>

        <p 
        cv-if="this.content.value.description"
        class="text-xs show-description overflow-hidden w-full description"
        :title="this.content.value.description"
        >
            {{ this.content.value.description }}
        </p>

        <div class="mt-[5px] flex justify-between items-center categories">
            <div class="flex gap-[5px]">
                <span
                class="inline-block mt-[5px] px-[6px] py-[3px] text-xs rounded-full"
                cv-class="{
                    'bg-orange-500': this.content.type === 'S',
                    'bg-red-500': this.content.type === 'M'
                }"
                >
                    {{ this.content.type === 'S' ? 'Série' : 'Film' }}
                </span>

                <span class="inline-block mt-[5px] px-[6px] py-[3px] text-xs rounded-full bg-skyblue">{{ this.content.category?.title || "Aucune" }}</span>
            </div>
            
            <watchlist-input
            :id="this.content.id"
            />
        </div>
    </div>
</div>

<script>
    export default {
        props: {
            content: null
        }
    }
</script>

<style>
    .show-card .thumbnail::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        transition: 0.3s ease;
    }

    .show-card .thumbnail::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "Material Design Icons";
        font-size: 60px;
        color: #fff;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .show-card:hover .thumbnail::before {
        background: rgba(0, 0, 0, 0.5);
    }

    .show-card:hover .thumbnail::after {
        content: "\F0F1B";
        opacity: 1;
    }

    .title, .description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
</style>