<router_link href="#">
    <div class="w-full h-[135px] mb-[10px] thumbnail">
        <img class="w-full h-full object-cover pointer-events-none" src="/public/img/thumbnails/unloaded-large.png" alt="show title">
    </div>

    <div class="content">
        <h3 class="text-xs text-grey text-bold show-title">Show title</h3>

        <h2 class="text-sm episode-title">SXXEXX - Episode title</h2>
    </div>
</router_link>

<script>
    export default {
        data: {},

        props: {},

        methods: {},
    }
</script>

<style>

</style>