<div>
    <router_link :href="this.href" class="content-card">
        <div class="w-full h-[135px] mb-[10px] thumbnail">
            <img
                    class="w-full h-full object-cover pointer-events-none"
                    :src="this.content.value_type === 'M' ? this.content.value.image : this.content.value.serie.image"
                    alt="content image">

        </div>
    </router_link>

    <div class="content flex justify-between items-center">
        <div class="flex flex-col">
            <h3 cv-if="this.content.value_type === 'E' && this.content.value.serie.title"
                class="text-xs text-grey text-bold show-title">{{ this.content.value.serie.title }}</h3>

            <h2 cv-if="this.content.value_type === 'E'" class="text-sm content-title">
                S{{this.content.value.season < 10 ? '0' + this.content.value.season :
                this.content.value.season}}E{{this.content.value.episode < 10 ? '0' + this.content.value.episode :
                this.content.value.episode}} - {{ this.content.value.title }}</h2>
            <h2 cv-if="this.content.value_type === 'M'" class="text-sm content-title">
                {{ this.content.value.title }}</h2>

            <p cv-if="this.content.value.description" class="text-xs description"
               :title="this.content.value.description">{{
                this.content.value.description }}</p>
        </div>
        <icon
                name="trash-can-outline"
                class="cursor-pointer"
                @click="deleteContent"
        />
    </div>
</div>

<script>
    const [{default: taob}] = await Promise.all([
        import("/public/cuteVue/taob.js")
    ]);
    export default {
        props: {
            content: null,
        },
        computed: {
            href() {
                if (this.content !== null) {
                    if (this.content.value_type === "E") {
                        return `/serie/${this.content.value.serie.id}/season/${this.content.value.season}/episode/${this.content.value.episode}`;
                    } else {
                        return `/movie/${this.content.value.id}`;
                    }
                }
            }
        },
        methods: {
            async deleteContent() {
                await taob.delete(
                    "/history/{id}",
                    {
                        params: {id: this.content.id},
                        loader: true,
                    }
                )
                    .sd();
                this.$emit("delete-content");
            }
        }
    }
</script>

<style>
    .thumbnail {
        position: relative;
    }

    .content-card .thumbnail::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        transition: 0.3s ease;
    }

    .content-card .thumbnail::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "Material Design Icons";
        font-size: 60px;
        color: #fff;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .content-card:hover .thumbnail::before {
        background: rgba(0, 0, 0, 0.5);
    }

    .content-card:hover .thumbnail::after {
        content: "\F0F1B";
        opacity: 1;
    }

    .description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
</style>