<router_link href="#" class="w-[150px] h-[320px] show-card">
    <div class="h-[225px] mb-[10px] object-cover thumbnail">
        <img class="w-full h-full object-cover pointer-events-none" src="/public/img/thumbnails/unloaded.png" alt="show title">
    </div>
    <div class="content">
        <h3 class="text-bold show-title">Show title</h3>
        <p class="text-sm show-description">Show description</p>
        <div class="mt-[5px] text-xs tags">
            <span class="inline-block p-1 rounded tag tag-1">tag1</span>
            <span class="inline-block p-1 rounded tag tag-2">tag2</span>
            <span class="inline-block p-1 rounded tag tag-3">tag3</span>
        </div>
    </div>
</router_link>

<script>
    export default {
        data: {},

        props: {},

        methods: {},
    }
</script>

<style>
    .tag-1 {
        background-color: #F5B041;
    }

    .tag-2 {
        background-color: #5DADE2;
    }

    .tag-3 {
        background-color: #58D68D;
    }

    .show-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
</style>