<router_link href="#" class="h-[135px] flex gap-[20px] show-card">
    <div class="grow-0 shrink-0 basis-[240px] object-cover thumbnail">
        <img class="w-full h-full object-cover pointer-events-none" src="/public/img/thumbnails/unloaded-large.png" alt="show title">
    </div>
    <div class="content flex flex-col justify-center gap-[10px]">
        <h2 class="text-sm text-grey text-bold show-title">Show title</h2>
        <h3 class="font-bold episode-title">Episode title</h3>
        <span class="text-grey date">01/03/2000</span>
    </div>
</router_link>

<script>
    export default {
        data: {},

        props: {},

        methods: {},
    }
</script>

<style>

</style>