<router_link :href="this.content.type === 'M' ? '/movie/' + this.content.value.id : '/serie/' + this.content.value.id" class="h-[135px] flex gap-[20px] show-card">
    <div class="aspect-square sm:aspect-video object-cover thumbnail">
        <img class="w-full h-full object-cover pointer-events-none" src="/public/img/thumbnails/unloaded-large.png" alt="show title">
    </div>
    <div class="content flex flex-col justify-center gap-[10px]">
        <div class="top">
            <h3 class="font-bold show-title">{{ this.content.value.title }}</h3>
        
            <p class="text-sm show-description">
                {{ this.content.value.description || 'Aucune description disponible.' }}
            </p>
        </div>

        <div class="bot flex max-[450px]:flex-col max-[450px]:items-start items-center gap-[20px]">
            <div class="flex gap-[5px] categories">
                <span
                class="inline-block mt-[5px] px-[6px] py-[3px] text-xs rounded-full"
                cv-class="{
                    'bg-orange-500': this.content.type === 'S',
                    'bg-red-500': this.content.type === 'M'
                }"
                >
                    {{ this.content.type === 'S' ? 'Série' : 'Film' }}
                </span>

                <span class="inline-block mt-[5px] px-[6px] py-[3px] text-xs rounded-full bg-skyblue">{{ this.content.category.title }}</span>
            </div>

            <div class="flex gap-[15px] rate select-none">
                <div class="flex items-center gap-[5px] like">
                    {{ this.content.up_vote }}

                    <icon name="thumb-up" size="16" />
                </div>

                <div class="flex items-center gap-[5px] dislike">
                    {{ this.content.down_vote }}

                    <icon name="thumb-down" size="16" />
                </div>
            </div>
        </div>
    </div>
</router_link>

<script>
    export default {
        props: {
            content: {}
        },
    }
</script>

<style>
    .show-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
</style>