<div class="max-w-[1130px] mt-[60px] mx-auto mb-[40px] px-7 lg:px-14 content relative">
    <div class="mb-[20px] flex justify-center search-container top-0 sticky z-10">
        <text-input
        cv-ref="search"
        class="relative w-[300px] bg-black"
        placeholder="Rechercher un film ou une série"
        cv-model="searchValue"
        >
            <icon name="magnify" class="absolute right-0 bottom-[7px] mr-[10px] cursor-pointer"/>
        </text-input>
    </div>
    
    <h1 class="mb-[40px] pb-[10px] text-2xl font-bold border-b-[4px] border-skyblue">Catalogue</h1>

    <div class="flex flex-col gap-[20px] show-list content overflow-hidden">
        <show_card_large 
        cv-for="content of this.contents" 
        :content="this.content"
        class="w-full"
        />
    </div>

    <div class="flex justify-center mt-[40px]">
        <button class="px-[20px] py-[10px] rounded-full bg-skyblue text-white font-bold" @click="loadMore">Voir plus</button>
    </div>
</div>

<script>
    const [{ default: taob }, show_card_large] = await Promise.all([
        import("/public/cuteVue/taob.js"),
        importer('/public/cuteVue/components/cards/show_card_large.html')
    ]);

    export default {
        components: {
            show_card_large
        },
        data: {
            contents: [],
            searchValue: "",
            page: 0
        },
        watch: {
            async searchValue(value){
                this.page = 0;
                this.contents = await this.getPage();
            }
        },
        methods: {
            async getPage(){
                return await taob.get(
                    "/contents",
                    {
                        query: {
                            page: this.page,
                            title: this.searchValue,
                        },
                        loader: true,
                    }
                )
                .sd();
            },
            async loadMore(){
                this.page++;
                this.contents = [
                    ...this.contents,
                    ...await this.getPage()
                ];
            }
        },
        async mounted(){
            this.contents = await this.getPage();
        },
    }
</script>

<style>

</style>