<div>
    <row 
    cv-for="row of Object.entries(this.rows)" 
    :content="this.row[1]"
    cv-class="{
        'bg-skyblue': ((Number(this.row[0])+1) % 2) 
    }"
    />
</div>

<script>
    const [row] = await Promise.all([
        importer('/public/cuteVue/components/row.html'),
    ]);
    
    export default {
        components: {
            row,
        },

        data: {
            
        },

        static: {
            rows: [
                {
                    component: "slider",
                    options: {

                    }
                },
                {
                    component: "cards",
                    options: {
                        
                    }
                }
            ]
        },

        mounted(){
            
        },
        
        unmounted(){

        }
    }
</script>

<style>

</style>