<div>
    <row 
    cv-for="row of Object.entries(this.rows)" 
    :content="this.row[1]"
    cv-class="{
        'bg-skyblue': this.row[1].blue
    }"
    />
</div>

<script>
    const [row] = await Promise.all([
        importer('/public/cuteVue/components/row.html'),
    ]);
    
    export default {
        components: {
            row,
        },

        data: {
            
        },

        static: {
            rows: [
                {
                    blue: true,
                    component: "slider",
                    options: {
                        url: "/content/last",
                        query: {
                            number: 3
                        },
                    }
                },
                {
                    component: "cards",
                    options: {
                        title: "Derniers Ajouts",
                        url: "/content/last",
                        query: {
                            number: 20
                        },
                    }
                },
                {
                    component: "cards",
                    options: {
                        title: "Les plus populaires",
                        url: "/content/top",
                        query: {
                            number: 20
                        },
                    }
                },
                {
                    blue: true,
                    component: "topper",
                    options: {
                        title: "Top 5 du moment",
                        url: "/content/top",
                        query: {
                            number: 10,
                            type: "serie"
                        },
                    }
                },
                {
                    component: "cards",
                    options: {
                        title: "Découvrir",
                        url: "/content/discover",
                        query: {
                            number: 20
                        },
                    }
                }
            ]
        },

        mounted(){
            
        },
        
        unmounted(){

        }
    }
</script>

<style>

</style>