<div class="max-w-[1130px] min-h-[calc(100vh-60px)] mx-auto mb-[40px] px-7 lg:px-14 flex flex-col justify-center items-center gap-[40px] content">
    <h1 class="text-2xl font-bold">Changement de mot de pass</h1>
    
    <cv-form
    @submit="submit"
    class="w-[500px]"
    >
        <div class="inputs p-[40px] flex flex-col gap-[20px] bg-darkblue">
            <text-input
            type="password" 
            placeholder="Mot de passe"
            cv-model="password"
            :rules="this.passwordRule"
            :always-rule="true"
            class="w-full"
            ></text-input>

            <text-input
            type="password" 
            placeholder="Confirmez mot de passe"
            cv-model="cpassword"
            :rules="this.cpasswordRule"
            :always-rule="true"
            class="w-full"
            ></text-input>
            
            <p class="text-center text-[red]" cv-class="{ 'text-[green]': this.success }">{{ this.info }}</p>
        </div>

        <div class="mt-[30px] text-center submit">
            <button 
            type="submit" 
            class="px-[20px] py-[10px] rounded bg-skyblue"
            cv-class="{
                'invisible': this.success === true,
            }"
            >
                Créer un compte
            </button>  
        </div>
    </cv-form>
</div>

<script>
    const [impLoader, impTaob] = await Promise.all([
        import("/public/cuteVue/loader.js"),
        import("/public/cuteVue/taob.js")
    ]);

    const loaderStore = impLoader.loaderStore;
    const taob = impTaob.default;

    export default {
        data: {
            password: "",
            cpassword: "",
            
            info: "",
        },
        computed: {
            cpasswordRule(){
                return [
                    (value) => this.password === this.cpassword || "Les mots de passe conresponde pas.",
                ];
            }
        },
        static: {
            passwordRule: [
                (value) => !!value || "Ce champs est obligatoire.",
                (value) => value.length < 4 ? "Mot de passe trop court" : true,
                (value) => value.length > 255 ? "Mot de passe trop long" : true,
                (value) => /(?=.*[!@#$%^&*(),.?":{}|<>])/.test(value) || "Mot de passe invalide. doit contenir au moins un caractère spécial",
            ],
        },
        methods: {
            async submit(){
                this.success = false;
                let close = loaderStore.push();

                this.info = "";

                await taob.post("/user/password/validate", {
                    password: this.password,
                    token: router.query.token.replace(/ /g, "+")
                })
                .s(() => {
                    router.push("/");
                })
                .e(() => {
                    this.info = "Lien de changement de mot de passe invalide";
                })
                .result;

                close();
            }
        },
        mounted(){
            
        }
    }
</script>

<style>

</style>