<div>
    <div class="h-[300px] mb-[40px] bg-skyblue hero">
        <img class="w-full h-full object-cover" :src="this.img || '/public/img/banners/unloaded.png'">
    </div>
    
    <div class="max-w-[1130px] mx-auto mb-[40px] px-7 lg:px-14 content">
        <div class="mb-[60px] flex flex-col items-start gap-[40px] show-info">
            <h1 class="flex items-center gap-[5px] text-2xl font-bold">
                {{ this.title }}

                <router_link
                cv-if="this.hasPermission('comments_manager')"
                :href="`/dashboard/edit-video/serie/${this.params.id}`"
                class="hover:text-skyblue"
                title="Éditer"
                >
                    <icon name="square-edit-outline" size="24" />
                </router_link>
            </h1>

            <p>{{ this.description }}</p>

            <div class="flex items-center gap-[30px] info">
                <span class="inline-block mt-[5px] px-[6px] py-[3px] text-xs rounded-full bg-skyblue">{{ this.category }}</span>
        
                <div class="flex gap-[15px] rate select-none">
                    <div class="flex items-center gap-[5px] like" @click="this.vote('like')">
                        {{ this.up_vote }}

                        <icon :name="!this.liked ? 'thumb-up-outline' : 'thumb-up'" class="cursor-pointer" cv-class="{ 'text-skyblue': this.liked }" />
                    </div>

                    <div class="flex items-center gap-[5px] dislike" @click="this.vote('dislike')">
                        {{ this.down_vote }}

                        <icon :name="!this.disliked ? 'thumb-down-outline' : 'thumb-down'" class="cursor-pointer" cv-class="{ 'text-skyblue': this.disliked }" />
                    </div>

                    <watchlist-input
                    cv-if="this.isConnected"
                    :id="this.contentId"
                    />

                </div>
            </div>
        </div>

        <div class="show-content">
            <select-input
            class="w-[150px]"
            label="Saison"
            :items="this.seasons"
            cv-model="selectedSeason"
            />

            <div cv-if="this.episodes.length > 0" class="my-[30px] grid grid-flow-row auto-rows-max grid-cols-[repeat(auto-fill,240px)] gap-[40px] episodes">
                <episode_card
                cv-for="episode of this.episodes"
                :serie="{ id: this.params.id }"
                :episode="this.episode" 
                />
            </div>

            <div cv-if="this.episodes.length <= 0" class="my-[30px]">
                <p>Aucun épisode disponible...</p>
            </div>
        </div>
    </div>
</div>

<script>
    const [{ default: taob }, impLoader, episode_card] = await Promise.all([
        import("/public/cuteVue/taob.js"),
        import("/public/cuteVue/stores/loader.js"),
        importer('/public/cuteVue/components/cards/episode_card.html')
    ]);

    const loaderStore = impLoader.loaderStore;

    export default {
        components: {
            episode_card
        },
        data: {
            title: "",
            img: "",
            category: "",
            description: "",
            release_date: "",
            seasons: [],
            episodes: [],
            selectedSeason: null,
            up_vote: 0,
            down_vote: 0,
            liked: false,
            disliked: false,
            contentId: null
        },
        watch: {
            selectedSeason(val) {
                this.getEpisodeBySeason(val);
            }
        },
        methods: {
            async init(){
                const [serie, seasons] = await Promise.all([
                    taob.get(
                        "/serie/{id}", 
                        {
                            params: { id: this.params.id },
                            loader: true
                        }
                    )
                    .info((info, ok) => {
                            if(info === "serie.notfound"){
                                this.pushToast("error", "Série introuvable.");
                                router.push("/");
                            }
                            else if(!ok){
                                this.pushToast("error", "Erreur lors de la récupération de la série.");
                                router.push("/");
                            }
                        })
                    .sd(),
                    taob.get(
                        "serie/{id}/season/count",
                        {
                            params: { id: this.params.id},
                            loader: true
                        }
                    )
                    .info((info, ok) => {
                        if (info === "serie.notfound") {
                            this.pushToast("error", "La série n'a pas été trouvée.");
                            router.push("/");
                        }
                        if(!ok){
                            this.pushToast("error", "Erreur lors de la récupération des saisons.");
                            router.push("/");
                        }
                    })
                    .sd()
                ]);
                this.seasons = seasons.map(s => s.season);
                this.selectedSeason = Number(this.query.season) || this.seasons[0];
                this.title = serie.title;
                this.img = serie.image;
                this.category = serie.content.category.title;
                this.description = serie.description || "Cette série n'a pas de description.";
                this.release_date = serie.release_date;
                this.up_vote = serie.content.up_vote;
                this.down_vote = serie.content.down_vote;
                this.contentId = serie.content.id;
                
                this.getEpisodeBySeason(this.selectedSeason);
                taob.get(
                    "/content/{id}/vote", 
                    {
                        params: { id: this.contentId },
                        loader: true
                    }
                )
                .s(data => {
                    if(!data) return;
                    if(data.value === 1) this.liked = true;
                    else if(data.value === -1) this.disliked = true;
                });
            },
            getEpisodeBySeason(seasonNb){
                taob.get(
                    "/serie/{id}/season/{season}/episodes",
                    {
                        params: { id: this.params.id, season: seasonNb},
                        loader: true
                    }
                )
                .s(episodes => {
                    this.episodes = episodes.map(e => {
                        e.image = this.img;
                        return e;
                    });
                })
                .info(info => {
                    if (info === "season.notexist") {
                        this.selectedSeason = 1;
                        this.pushToast("error", "La saison demandée n'existe pas.");
                    }
                    if (info === "serie.notfound") {
                        this.pushToast("error", "La série demandée n'existe pas.");
                        router.push("/");
                    }
                })
            },
            async vote(type){
                if(!this.isConnected){
                    this.pushToast("error", "Connectez-vous pour voter.");

                    return;
                };
                
                if(type === "like" && !this.liked){ 
                    taob.post(
                        "/content/{id}/vote", 
                        { vote: 1 }, 
                        {
                            params: { id: this.contentId },
                            loader: true,
                        }
                    )
                    
                    this.up_vote++;
                    if(this.disliked) this.down_vote--;
                    this.disliked = false;
                    this.liked = true;
                } 
                else if(type === "like" && this.liked) {
                    taob.delete(
                        "/content/{id}/vote", 
                        {
                            params: { id: this.contentId },
                            loader: true,
                        }
                    )

                    this.up_vote--;
                    this.liked = false;
                }
                else if(type === "dislike" && !this.disliked){ 
                    taob.post(
                        "/content/{id}/vote", 
                        { vote: -1 }, 
                        {
                            params: { id: this.contentId },
                            loader: true,
                        }
                    )

                    this.down_vote++;
                    if(this.liked) this.up_vote--;
                    this.liked = false;
                    this.disliked = true;
                } 
                else if(type === "dislike" && this.disliked) {
                    taob.delete(
                        "/content/{id}/vote", 
                        {
                            params: { id: this.contentId },
                            loader: true,
                        }
                    )

                    this.down_vote--;
                    this.disliked = false;
                }
            },            
        },
        mounted(){
            this.init();
        },
        stores: [
            {
                name: "router",
                states: ["params", "pathname", "query"]
            },
            {
                name: "toast",
                states: ["pushToast"]
            },
            {
                name: "user",
                states: ["isConnected", "userId", "role", "permissions"],
                computed: ["hasPermission"],
            }
        ]
    }
</script>

<style>

</style>