<div>
    <div class="h-[300px] mb-[40px] bg-skyblue hero">
        <img class="w-full h-full object-cover" src="/public/img/banners/unloaded.png">
    </div>
    
    <div class="max-w-[1130px] mx-auto mb-[40px] px-7 lg:px-14 content">
        <div class="mb-[60px] flex flex-col gap-[40px] show-info">
            <h1 class="text-2xl font-bold">Show title</h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptatem numquam, iste deleniti quis ipsa illum voluptatibus earum officia quisquam, quae eos velit amet veritatis. Sapiente quia odit magni similique.</p>
        </div>

        <div class="show-content">
            <select-input
            class="w-[150px]"
            :items="this.seasons" 
            :return-value="v => v.value"
            :return-text="t => t.text"
            cv-model="currentSeason"
            />

            <div class="my-[30px] grid grid-flow-row auto-rows-max grid-cols-[repeat(auto-fill,240px)] gap-[40px] episodes">
                <episode_card cv-for="episode in this.episodes" />
            </div>
        </div>
    </div>
</div>

<script>
    const [episode_card] = await Promise.all([
        importer('/public/cuteVue/components/cards/episode_card.html')
    ]);

    export default {
        components: {
            episode_card
        },

        data: {
            seasons: [
                {
                    text: "Saison 1",
                    value: 1
                },
                {
                    text: "Saison 2",
                    value: 2
                },
            ],
            currentSeason: 1,
            episodes: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
        },

        methods: {

        },

        mounted(){

        },
        
        unmounted(){

        }
    }
</script>

<style>

</style>