<div class="max-w-[1130px] min-h-[calc(100vh-60px)] mx-auto mb-[40px] px-7 lg:px-14 flex flex-col justify-center items-center gap-[40px] content">
    <h1 class="text-2xl font-bold">Se connecter</h1>

    <cv-form 
    @submit="submit" 
    class="w-[500px] h-[300px]"
    >
        <div class="inputs p-[40px] flex flex-col gap-[20px] bg-darkblue items-center">
            <text-input
            type="text"
            placeholder="Adresse email"
            cv-model="email"
            :rules="this.emailRule"
            class="w-full"
            />

            <text-input
            type="password" 
            placeholder="Mot de passe"
            cv-model="password"
            :rules="this.passwordRule"
            class="w-full"
            />

            <router_link class="select-none hover:underline" href="/forgot-password">
                <small class="text-skyblue">Mot de passe oublié ?</small>
            </router_link>
        </div>

        <div class="mt-[30px] text-center submit">
            <button 
            type="submit" 
            class="px-[20px] py-[10px] rounded bg-skyblue"
            >
                Se connecter
            </button>  
        </div>
    </cv-form>
</div>

<script>
    const [impLoader, impTaob] = await Promise.all([
        import("/public/cuteVue/loader.js"),
        import("/public/cuteVue/taob.js")
    ]);

    const loaderStore = impLoader.loaderStore;
    const taob = impTaob.default;

    export default {
        data: {
            email: "",
            password: "",

            info: ""
        },
        static: {
            emailRule: [
                (value) => !!value || "Ce champs est obligatoire",
                (value) => /^[\w-\.]+@([\w-]+\.)+[\w-].{2,4}$/.test(value) || "Email invalide",
            ],
            passwordRule: [
            ]
        },
        methods: {
            async submit(){
                let close = loaderStore.push();

                this.info = "";

                await taob.post("/login", { email: this.email, password: this.password })
                .s(() => {
                    router.push("/");
                })
                .e(() => {
                    this.pushToast("error", "Les identifiants sont invalides.");

                })
                .result;

                close();
            }
        },
        mounted(){
            
        },
        stores: [
            {
                name: "toast",
                actions: ["pushToast"]
            }
        ]
    }
</script>

<style>

</style>