<div class="max-w-[1130px] min-h-[calc(100vh-60px)] mx-auto mb-[40px] px-7 lg:px-14 flex flex-col justify-center items-center gap-[40px] content">
    <h1 class="text-2xl font-bold">Créer un compte</h1>
    
    <cv-form
    @submit="submit"
    class="w-full max-w-[500px]"
    >
        <div class="inputs p-[40px] flex flex-col gap-[20px] bg-darkblue">
            <text-input
            type="text"
            placeholder="Nom"
            cv-model="lastname"
            :rules="this.lastnameRule"
            class="w-full"
            />
            
            <text-input
            type="text"
            placeholder="Prénom"
            cv-model="firstname"
            :rules="this.firstnameRule"
            class="w-full"
            />

            <text-input
            type="text"
            placeholder="Pseudo"
            cv-model="username"
            :rules="this.usernameRule"
            class="w-full"
            cv-ref="username"
            />

            <text-input
            type="text"
            placeholder="Adresse email"
            cv-model="email"
            :rules="this.emailRule"
            class="w-full"
            cv-ref="email"
            />

            <text-input
            type="password" 
            placeholder="Mot de passe"
            cv-model="password"
            :rules="this.passwordRule"
            :always-rule="true"
            class="w-full"
            />

            <text-input
            type="password" 
            placeholder="Confirmez mot de passe"
            cv-model="cpassword"
            :rules="this.cpasswordRule"
            :always-rule="true"
            class="w-full"
            />
        </div>

        <div class="mt-[30px] text-center submit">
            <button 
            type="submit" 
            class="px-[20px] py-[10px] rounded bg-skyblue"
            cv-class="{
                'invisible': this.success === true,
            }"
            >
                Créer un compte
            </button>  
        </div>
    </cv-form>
</div>

<script>
    const [impLoader, impTaob] = await Promise.all([
        import("/public/cuteVue/stores/loader.js"),
        import("/public/cuteVue/taob.js")
    ]);

    const loaderStore = impLoader.loaderStore;
    const taob = impTaob.default;

    export default {
        data: {
            lastname: "",
            firstname: "",
            username: "",
            email: "",
            password: "",
            cpassword: "",
            
            info: "",
            success: false,

            alreadyUseEmail: false,
            alreadyUseUsername: false,
        },
        computed: {
            emailRule(){
                return [
                    (value) => this.alreadyUseEmail !== value || "Cette email est déjà utilisé",
                    (value) => !!value || "Ce champs est obligatoire",
                    (value) => value.length > 100 ? "Email trop long" : true,
                    (value) => /^(?:[\w-\.]+|[\w-\.]+\+[a-zA-Z0-9]+)@([\w-]+\.)+[\w-].{1,4}$/.test(value) || "Email invalide",
                ];
            },
            usernameRule(){
                return [
                    (value) => this.alreadyUseUsername !== value || "Ce pseudo est déjà utilisé",
                    (value) => !!value || "Ce champs est obligatoire",
                    (value) => value.length < 4 ? "Pseudo trop court" : true,
                    (value) => value.length > 120 ? "Pseudo trop long" : true,
                ];
            },
            cpasswordRule(){
                return [
                    (value) => !!value || "Ce champs est obligatoire",
                    (value) => this.password === this.cpassword || "Les mots de passe conrespondent pas",
                ];
            }
        },
        static: {
            lastnameRule: [
                (value) => !!value || "Ce champs est obligatoire",
                (value) => value.length > 120 ? "Nom trop long" : true,
                (value) => /^[a-zA-Z]+$/.test(value) || "Nom invalide",
            ],
            firstnameRule: [
                (value) => !!value || "Ce champs est obligatoire",
                (value) => value.length < 4 ? "Prénom trop court" : true,
                (value) => value.length > 60 ? "Prénom trop long" : true,
                (value) => /^[a-zA-Z]+$/.test(value) || "Prénom invalide",
            ],
            passwordRule: [
                (value) => !!value || "Ce champs est obligatoire",
                (value) => value.length < 4 ? "Mot de passe trop court" : true,
                (value) => value.length > 255 ? "Mot de passe trop long" : true,
                (value) => /(?=.*[!@#$%^&*(),.?":{}|<>])/.test(value) || "Mot de passe invalide. Doit contenir au moins un caractère spécial",
            ],
        },
        methods: {
            async submit(){
                this.success = false;
                let close = loaderStore.push();

                await taob.post("/register", { 
                    firstname: this.firstname,
                    lastname: this.lastname,
                    username: this.username,
                    email: this.email,
                    password: this.password 
                })
                .info(info => {
                    if(info === "email.already.used"){
                        this.alreadyUseEmail = this.email;
                        this.$refs.email.$validate();
                    }
                    else if(info === "username.already.used"){
                        this.alreadyUseUsername = this.username;
                        this.$refs.username.$validate();
                    }
                })
                .s(() => {
                    this.success = true;
                    this.pushToast("successfull", "Un lien de confirmation vous a été envoyé par email.");
                })
                .e(() => {
                    this.pushToast("error", "Les informations sont invalides.");
                })
                .result;

                close();
            }
        },
        stores: [
            {
                name: "toast",
                actions: ["pushToast"]
            }
        ]
    }
</script>

<style>

</style>